In [1]:
# dependencies
import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, join, outerjoin, MetaData, Table

In [2]:
# create engine to hawaii.sqlite
connect_string = "sqlite:///static/data/climateDB.db"

# reflect the tables
engine = create_engine(connect_string) 

# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect =True)

In [3]:
Base.classes.keys()

['CO2_emission', 'country_demo', 'temp_change']

In [4]:
# Save references to each table
Emission = Base.classes.CO2_emission
Temp_change = Base.classes.temp_change

In [5]:
# Create a session (link) from Python to the sqlite DB
session = Session(bind = engine)

#Filter the data for the year >= 1961
results_emission = session.query(Emission).filter(Emission.Year >= 1961)
#print(results)

In [6]:
emission_df = pd.read_sql(results_emission.statement, session.connection())

print(emission_df.head())
results_temp = session.query(Temp_change)

#print(results) 

temp_df = pd.read_sql(results_temp.statement, session.connection())

selection = ['DecJanFeb', 'MarAprMay', 'JunJulAug', 'SepOctNov']

                       Entity  Code  Year  AnnualCO2emissions
0                      Africa  None  1961           161437399
1                        Asia  None  1961          1392745886
2  Asia (excl. China & India)  None  1961           721204193
3                       EU-27  None  1961          2157634122
4                       EU-28  None  1961          2746248923

In [7]:




season_df = temp_df.loc[temp_df["Months"].isin(selection)]

#filter by months
month_df = temp_df.loc[(~temp_df["Months"].isin(selection)) & (temp_df["Months"] != 'Meteorological year') ]

# filter Meteorological year
meteor_df = temp_df.loc[temp_df["Months"] == 'Meteorological year' ]
# Calculate avg temp per Meteorological year
meteor_df['avg_temp']= meteor_df.mean(axis =1)
meteor_id_df = meteor_df.set_index('Area')

session.close()

C:\Users\ubc\anaconda3\envs\pythonData\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [8]:
month_df["Area"].tolist()

['Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Anguilla',
 'Anguilla',
 'Anguilla',
 'Anguilla',
 'Anguilla',
 'Anguilla',
 'Anguilla',
 'Anguilla',
 'Anguilla',
 'Anguilla',
 'Anguilla',
 'Anguilla',
 'Antarctica',
 'Antarctica',
 'Antarctica',
 'Antarctica',
 'Antarctica',
 'Antarctica',
 'Antarctica',
 'Antarctica',
 'Antarctica',
 'Antarctica',
 'Antarctica',
 'Antarctica',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'Brunei',
 'Brunei',
 'Brunei',
 'Brunei',
 'Brunei',
 'Brunei',
 'Brunei',
 'Brunei',
 'Brunei',
 'Brunei',
 'Brunei',
 'Brunei',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Channel Islands',
 'Channel Islands',
 'Channel Islands',
 'Channel Islands',
 'Channel Islands',
 'Channel Islands',
 'Channel Islands',
 'Channel Islands',
 'Channel Islands',
 'Channel Islands',
 'Channel Islands',
 'Channel Islands',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China, Hong Kong SAR',
 'China, Hong Kong SAR',
 'China, Hong Kong SAR',
 'China, Hong Kong SAR',
 'China, Hong Kong SAR',
 'China, Hong Kong SAR',
 'China, Hong Kong SAR',
 'China, Hong Kong SAR',
 'China, Hong Kong SAR',
 'China, Hong Kong SAR',
 'China, Hong Kong SAR',
 'China, Hong Kong SAR',
 'China, Macao SAR',
 'China, Macao SAR',
 'China, Macao SAR',
 'China, Macao SAR',
 'China, Macao SAR',
 'China, Macao SAR',
 'China, Macao SAR',
 'China, Macao SAR',
 'China, Macao SAR',
 'China, Macao SAR',
 'China, Macao SAR',
 'China, Macao SAR',
 'China, mainland',
 'China, mainland',
 'China, mainland',
 'China, mainland',
 'China, mainland',
 'China, mainland',
 'China, mainland',
 'China, mainland',
 'China, mainland',
 'China, mainland',
 'China, mainland',
 'China, mainland',
 'China, Taiwan Province of',
 'China, Taiwan Province of',
 'China, Taiwan Province of',
 'China, Taiwan Province of',
 'China, Taiwan Province of',
 'China, Taiwan Province of',
 'China, Taiwan Province of',
 'China, Taiwan Province of',
 'China, Taiwan Province of',
 'China, Taiwan Province of',
 'China, Taiwan Province of',
 'China, Taiwan Province of',
 'Cocos (Keeling) Islands',
 'Cocos (Keeling) Islands',
 'Cocos (Keeling) Islands',
 'Cocos (Keeling) Islands',
 'Cocos (Keeling) Islands',
 'Cocos (Keeling) Islands',
 'Cocos (Keeling) Islands',
 'Cocos (Keeling) Islands',
 'Cocos (Keeling) Islands',
 'Cocos (Keeling) Islands',
 'Cocos (Keeling) Islands',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Congo',
 'Congo',
 'Congo',
 'Congo',
 'Congo',
 'Congo',
 "Côte d'Ivoire",
 "Côte d'Ivoire",
 "Côte d'Ivoire",
 "Côte d'Ivoire",
 "Côte d'Ivoire",
 "Côte d'Ivoire",
 "Côte d'Ivoire",
 "Côte d'Ivoire",
 "Côte d'Ivoire",
 "Côte d'Ivoire",
 "Côte d'Ivoire",
 "Côte d'Ivoire",
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cuba',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 "Democratic People's Republic of Korea",
 "Democratic People's Republic of Korea",
 "Democratic People's Republic of Korea",
 "Democratic People's Republic of Korea",
 "Democratic People's Republic of Korea",
 "Democratic People's Republic of Korea",
 "Democratic People's Republic of Korea",
 "Democratic People's Republic of Korea",
 "Democratic People's Republic of Korea",
 "Democratic People's Republic of Korea",
 "Democratic People's Republic of Korea",
 "Democratic People's Republic of Korea",
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Dominica',
 'Dominica',
 'Dominica',
 'Dominica',
 'Dominica',
 'Dominica',
 'Dominica',
 'Dominica',
 'Dominica',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Dominican Republic',
 'Ecuador',
 'Ecuador',
 'Ecuador',
 'Ecuador',
 'Ecuador',
 'Ecuador',
 'Ecuador',
 'Ecuador',
 'Ecuador',
 'Ecuador',
 'Ecuador',
 'Ecuador',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'El Salvador',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Eswatini',
 'Eswatini',
 'Eswatini',
 'Eswatini',
 'Eswatini',
 'Eswatini',
 'Eswatini',
 'Eswatini',
 'Faeroe Islands',
 'Faeroe Islands',
 'Faeroe Islands',
 'Faeroe Islands',
 'Faeroe Islands',
 'Faeroe Islands',
 'Faeroe Islands',
 'Faeroe Islands',
 'Faeroe Islands',
 'Faeroe Islands',
 'Faeroe Islands',
 'Faeroe Islands',
 'Fiji',
 'Fiji',
 'Fiji',
 'Fiji',
 'Fiji',
 'Fiji',
 'Fiji',
 'Fiji',
 'Fiji',
 'Fiji',
 'Fiji',
 'Fiji',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'France',
 'France',
 'France',
 'France',
 'France',
 'France',
 'France',
 'France',
 'France',
 'France',
 'France',
 'France',
 'French Guiana',
 'French Guiana',
 'French Guiana',
 'French Guiana',
 'French Guiana',
 'French Guiana',
 'French Guiana',
 'French Guiana',
 'French Guiana',
 'French Guiana',
 'French Guiana',
 'French Guiana',
 'French Polynesia',
 'French Polynesia',
 'French Polynesia',
 'French Polynesia',
 'French Polynesia',
 'French Polynesia',
 'French Polynesia',
 'French Polynesia',
 'French Polynesia',
 'French Polynesia',
 'French Polynesia',
 'French Polynesia',
 'French Southern and Antarctic Territories',
 'French Southern and Antarctic Territories',
 'Gabon',
 'Gabon',
 'Gabon',
 'Gabon',
 'Gabon',
 'Gabon',
 'Gabon',
 'Gambia',
 'Gambia',
 'Gambia',
 'Gambia',
 'Gambia',
 'Gambia',
 'Gambia',
 'Gambia',
 'Gambia',
 'Gambia',
 'Gambia',
 'Gambia',
 'Germany',
 'Germany',
 'Germany',
 'Germany',
 'Germany',
 'Germany',
 'Germany',
 'Germany',
 'Germany',
 'Germany',
 'Germany',
 'Germany',
 'Ghana',
 'Ghana',
 'Ghana',
 'Ghana',
 'Ghana',
 'Ghana',
 'Ghana',
 'Ghana',
 'Ghana',
 'Ghana',
 'Ghana',
 'Ghana',
 'Gibraltar',
 'Gibraltar',
 'Gibraltar',
 'Gibraltar',
 'Gibraltar',
 'Gibraltar',
 'Gibraltar',
 'Gibraltar',
 'Gibraltar',
 'Gibraltar',
 'Gibraltar',
 'Gibraltar',
 'Greece',
 'Greece',
 'Greece',
 'Greece',
 'Greece',
 'Greece',
 'Greece',
 'Greece',
 'Greece',
 'Greece',
 'Greece',
 'Greece',
 'Greenland',
 'Greenland',
 'Greenland',
 'Greenland',
 'Greenland',
 'Greenland',
 'Greenland',
 'Greenland',
 'Greenland',
 'Greenland',
 'Greenland',
 'Greenland',
 'Grenada',
 'Grenada',
 'Grenada',
 'Grenada',
 'Grenada',
 'Grenada',
 'Grenada',
 'Grenada',
 'Grenada',
 'Grenada',
 'Grenada',
 'Grenada',
 'Guadeloupe',
 'Guadeloupe',
 'Guadeloupe',
 'Guadeloupe',
 'Guadeloupe',
 'Guadeloupe',
 'Guadeloupe',
 'Guadeloupe',
 'Guadeloupe',
 'Guadeloupe',
 'Guadeloupe',
 'Guadeloupe',
 'Guatemala',
 'Guatemala',
 'Guatemala',
 'Guatemala',
 'Guatemala',
 'Guatemala',
 'Guatemala',
 'Guatemala',
 'Guatemala',
 'Guatemala',
 'Guatemala',
 'Guatemala',
 'Guinea',
 'Guinea',
 'Guinea',
 'Guinea',
 'Guinea',
 'Guinea',
 'Guinea',
 'Guinea',
 'Guinea',
 'Guinea',
 'Guinea',
 'Guinea',
 'Guinea-Bissau',
 'Guinea-Bissau',
 'Guinea-Bissau',
 'Guinea-Bissau',
 'Guinea-Bissau',
 'Guinea-Bissau',
 'Guinea-Bissau',
 'Guinea-Bissau',
 'Guinea-Bissau',
 'Guinea-Bissau',
 'Guinea-Bissau',
 'Guinea-Bissau',
 'Guyana',
 'Guyana',
 'Guyana',
 'Guyana',
 'Guyana',
 'Guyana',
 'Guyana',
 'Guyana',
 'Guyana',
 'Guyana',
 'Guyana',
 'Haiti',
 'Haiti',
 'Haiti',
 'Haiti',
 'Haiti',
 'Haiti',
 'Haiti',
 'Haiti',
 'Haiti',
 'Haiti',
 'Haiti',
 'Haiti',
 'Holy See',
 'Holy See',
 'Holy See',
 'Holy See',
 'Holy See',
 'Holy See',
 'Holy See',
 'Holy See',
 'Holy See',
 'Holy See',
 'Holy See',
 'Holy See',
 'Honduras',
 'Honduras',
 'Honduras',
 'Honduras',
 'Honduras',
 'Honduras',
 'Honduras',
 'Honduras',
 'Honduras',
 'Honduras',
 'Honduras',
 'Honduras',
 'Hungary',
 'Hungary',
 'Hungary',
 'Hungary',
 'Hungary',
 'Hungary',
 'Hungary',
 'Hungary',
 'Hungary',
 'Hungary',
 'Hungary',
 'Hungary',
 'Iceland',
 'Iceland',
 'Iceland',
 'Iceland',
 'Iceland',
 'Iceland',
 'Iceland',
 'Iceland',
 'Iceland',
 'Iceland',
 'Iceland',
 'Iceland',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'Indonesia',
 'Indonesia',
 'Indonesia',
 'Indonesia',
 'Indonesia',
 'Indonesia',
 'Indonesia',
 'Indonesia',
 'Indonesia',
 'Indonesia',
 'Indonesia',
 'Indonesia',
 'Iran',
 'Iran',
 'Iran',
 'Iran',
 'Iran',
 'Iran',
 'Iran',
 'Iran',
 'Iran',
 'Iran',
 'Iran',
 'Iran',
 'Iraq',
 'Iraq',
 'Iraq',
 'Iraq',
 'Iraq',
 'Iraq',
 'Iraq',
 'Iraq',
 'Iraq',
 'Iraq',
 'Iraq',
 'Iraq',
 'Ireland',
 'Ireland',
 'Ireland',
 'Ireland',
 'Ireland',
 'Ireland',
 'Ireland',
 'Ireland',
 'Ireland',
 'Ireland',
 'Ireland',
 'Ireland',
 'Isle of Man',
 'Isle of Man',
 'Isle of Man',
 'Isle of Man',
 'Isle of Man',
 'Isle of Man',
 'Isle of Man',
 'Isle of Man',
 'Isle of Man',
 'Isle of Man',
 'Isle of Man',
 'Isle of Man',
 'Israel',
 'Israel',
 'Israel',
 'Israel',
 'Israel',
 'Israel',
 'Israel',
 'Israel',
 'Israel',
 'Israel',
 'Israel',
 'Israel',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Jordan',
 'Jordan',
 'Jordan',
 'Jordan',
 'Jordan',
 'Jordan',
 'Jordan',
 'Jordan',
 'Jordan',
 'Jordan',
 'Jordan',
 'Jordan',
 'Kenya',
 'Kenya',
 'Kenya',
 'Kenya',
 'Kenya',
 'Kenya',
 'Kenya',
 'Kenya',
 'Kenya',
 'Kenya',
 'Kenya',
 ...]

In [9]:
country='United States of America'

#Get avg_temp change by season for the selected country
months_country_mean = month_df.loc[month_df['Area'] == country] 
months_country_mean.set_index("Months" , inplace=True)
months_country_mean

,field1,Area,Element,Unit,1961,1962,1963,1964,1965,1966,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Months,,,,,,,,,,,,,,,,,,,,,
January,7888,United States of America,Temperature change,°C,0.943,-0.771,-1.170,0.901,0.747,-1.654,...,0.512,0.616,1.548,2.060,1.913,2.033,2.675,2.128,1.600,1.866
February,7890,United States of America,Temperature change,°C,1.215,1.425,0.577,-1.032,-1.287,-0.969,...,-0.215,-0.048,2.438,0.662,-0.347,0.389,3.788,3.528,1.765,0.375
March,7892,United States of America,Temperature change,°C,0.656,-1.082,1.400,-1.379,-1.034,0.214,...,1.211,1.251,3.688,0.162,0.220,2.532,3.778,1.844,1.632,1.404
April,7894,United States of America,Temperature change,°C,-1.210,0.409,0.399,-0.197,0.612,-0.595,...,1.414,0.546,2.043,-1.015,0.760,1.535,1.998,1.978,-0.414,1.411
May,7896,United States of America,Temperature change,°C,-0.348,0.671,0.503,0.023,-0.127,-0.389,...,0.323,-0.124,1.414,0.141,0.919,1.044,0.787,0.521,2.538,0.307
June,7898,United States of America,Temperature change,°C,0.339,-0.306,-0.165,-0.158,-0.980,-0.122,...,1.001,0.709,1.057,1.369,0.444,1.632,1.773,1.100,1.480,0.677
July,7900,United States of America,Temperature change,°C,-0.313,-0.515,-0.089,0.363,-0.622,0.562,...,0.501,1.089,1.335,0.536,-0.118,0.371,1.078,1.259,1.159,1.045
August,7902,United States of America,Temperature change,°C,0.190,0.203,-0.072,-0.645,-0.576,-0.618,...,1.127,1.292,0.870,0.631,0.370,0.445,1.093,0.100,0.738,1.018
September,7904,United States of America,Temperature change,°C,-0.467,-0.511,0.814,-0.411,-1.037,-0.005,...,1.055,0.830,0.695,0.882,0.827,1.561,1.295,0.918,1.638,2.021
October,7906,United States of America,Temperature change,°C,-0.405,1.076,2.218,0.018,-0.226,-0.760,...,1.085,0.716,-0.022,0.565,1.297,1.950,2.036,1.230,0.670,-0.269
November,7908,United States of America,Temperature change,°C,-0.692,0.778,0.141,0.307,1.567,0.725,...,0.788,0.128,0.410,0.098,-0.389,1.784,2.895,1.797,-0.030,0.514
December,7910,United States of America,Temperature change,°C,-1.652,0.463,-1.208,-1.336,1.053,-0.293,...,-0.643,1.775,1.070,-0.344,2.816,3.172,0.491,2.149,1.766,1.988

In [10]:
#Drop unwanted fields
months_country_mean = months_country_mean.drop(['field1','Area', 'Element', 'Unit'], 1)
#Get years data
years = months_country_mean.columns

In [16]:

months_country_mean

,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Months,,,,,,,,,,,,,,,,,,,,,
January,0.943,-0.771,-1.170,0.901,0.747,-1.654,1.635,-0.081,-0.487,-1.646,...,0.512,0.616,1.548,2.060,1.913,2.033,2.675,2.128,1.600,1.866
February,1.215,1.425,0.577,-1.032,-1.287,-0.969,-0.367,-0.567,-0.438,1.474,...,-0.215,-0.048,2.438,0.662,-0.347,0.389,3.788,3.528,1.765,0.375
March,0.656,-1.082,1.400,-1.379,-1.034,0.214,1.739,1.691,-1.689,-0.264,...,1.211,1.251,3.688,0.162,0.220,2.532,3.778,1.844,1.632,1.404
April,-1.210,0.409,0.399,-0.197,0.612,-0.595,0.400,-0.217,1.149,-0.656,...,1.414,0.546,2.043,-1.015,0.760,1.535,1.998,1.978,-0.414,1.411
May,-0.348,0.671,0.503,0.023,-0.127,-0.389,-1.053,-0.817,0.764,0.461,...,0.323,-0.124,1.414,0.141,0.919,1.044,0.787,0.521,2.538,0.307
June,0.339,-0.306,-0.165,-0.158,-0.980,-0.122,-0.200,-0.018,-0.440,0.037,...,1.001,0.709,1.057,1.369,0.444,1.632,1.773,1.100,1.480,0.677
July,-0.313,-0.515,-0.089,0.363,-0.622,0.562,-0.510,-0.062,0.080,0.020,...,0.501,1.089,1.335,0.536,-0.118,0.371,1.078,1.259,1.159,1.045
August,0.190,0.203,-0.072,-0.645,-0.576,-0.618,-0.246,-0.374,0.094,0.454,...,1.127,1.292,0.870,0.631,0.370,0.445,1.093,0.100,0.738,1.018
September,-0.467,-0.511,0.814,-0.411,-1.037,-0.005,-0.287,-0.538,0.479,-0.430,...,1.055,0.830,0.695,0.882,0.827,1.561,1.295,0.918,1.638,2.021
October,-0.405,1.076,2.218,0.018,-0.226,-0.760,-0.174,0.107,-0.709,-1.316,...,1.085,0.716,-0.022,0.565,1.297,1.950,2.036,1.230,0.670,-0.269
November,-0.692,0.778,0.141,0.307,1.567,0.725,0.229,-0.187,-0.375,0.195,...,0.788,0.128,0.410,0.098,-0.389,1.784,2.895,1.797,-0.030,0.514
December,-1.652,0.463,-1.208,-1.336,1.053,-0.293,0.073,-1.715,1.301,0.180,...,-0.643,1.775,1.070,-0.344,2.816,3.172,0.491,2.149,1.766,1.988

In [12]:
months_list = []
# Get months for each country
months = months_country_mean.index


for year in years:
    mon_obj = {
              "year":year
              }
    for month in months:
        mon_obj[month] = months_country_mean.loc[month , year]        
                
    months_list.append(mon_obj) 
       
        
months_list

[{'Year': '1961',
  'January': 0.943,
  'February': 1.215,
  'March': 0.656,
  'April': -1.21,
  'May': -0.348,
  'June': 0.339,
  'July': -0.313,
  'August': 0.19,
  'September': -0.467,
  'October': -0.405,
  'November': -0.692,
  'December': -1.652},
 {'Year': '1962',
  'January': -0.771,
  'February': 1.425,
  'March': -1.082,
  'April': 0.409,
  'May': 0.671,
  'June': -0.306,
  'July': -0.515,
  'August': 0.203,
  'September': -0.511,
  'October': 1.076,
  'November': 0.778,
  'December': 0.463},
 {'Year': '1963',
  'January': -1.17,
  'February': 0.577,
  'March': 1.4,
  'April': 0.399,
  'May': 0.503,
  'June': -0.165,
  'July': -0.089,
  'August': -0.072,
  'September': 0.814,
  'October': 2.218,
  'November': 0.141,
  'December': -1.208},
 {'Year': '1964',
  'January': 0.901,
  'February': -1.032,
  'March': -1.379,
  'April': -0.197,
  'May': 0.023,
  'June': -0.158,
  'July': 0.363,
  'August': -0.645,
  'September': -0.411,
  'October': 0.018,
  'November': 0.307,
  'December': -1.336},
 {'Year': '1965',
  'January': 0.747,
  'February': -1.287,
  'March': -1.034,
  'April': 0.612,
  'May': -0.127,
  'June': -0.98,
  'July': -0.622,
  'August': -0.576,
  'September': -1.037,
  'October': -0.226,
  'November': 1.567,
  'December': 1.053},
 {'Year': '1966',
  'January': -1.654,
  'February': -0.969,
  'March': 0.214,
  'April': -0.595,
  'May': -0.389,
  'June': -0.122,
  'July': 0.562,
  'August': -0.618,
  'September': -0.005,
  'October': -0.76,
  'November': 0.725,
  'December': -0.293},
 {'Year': '1967',
  'January': 1.635,
  'February': -0.367,
  'March': 1.739,
  'April': 0.4,
  'May': -1.053,
  'June': -0.2,
  'July': -0.51,
  'August': -0.246,
  'September': -0.287,
  'October': -0.174,
  'November': 0.229,
  'December': 0.073},
 {'Year': '1968',
  'January': -0.081,
  'February': -0.567,
  'March': 1.691,
  'April': -0.217,
  'May': -0.817,
  'June': -0.018,
  'July': -0.062,
  'August': -0.374,
  'September': -0.538,
  'October': 0.107,
  'November': -0.187,
  'December': -1.715},
 {'Year': '1969',
  'January': -0.487,
  'February': -0.438,
  'March': -1.689,
  'April': 1.149,
  'May': 0.764,
  'June': -0.44,
  'July': 0.08,
  'August': 0.094,
  'September': 0.479,
  'October': -0.709,
  'November': -0.375,
  'December': 1.301},
 {'Year': '1970',
  'January': -1.646,
  'February': 1.474,
  'March': -0.264,
  'April': -0.656,
  'May': 0.461,
  'June': 0.037,
  'July': 0.02,
  'August': 0.454,
  'September': -0.43,
  'October': -1.316,
  'November': 0.195,
  'December': 0.18},
 {'Year': '1971',
  'January': -1.209,
  'February': -0.509,
  'March': -1.255,
  'April': -0.706,
  'May': -1.164,
  'June': 0.456,
  'July': -0.571,
  'August': -0.113,
  'September': -0.216,
  'October': 0.371,
  'November': -0.258,
  'December': 0.69},
 {'Year': '1972',
  'January': -0.216,
  'February': -0.613,
  'March': 0.395,
  'April': -0.788,
  'May': 0.051,
  'June': -0.27,
  'July': -0.376,
  'August': 0.071,
  'September': -0.31,
  'October': -0.602,
  'November': -1.023,
  'December': -0.951},
 {'Year': '1973',
  'January': -0.504,
  'February': 0.08,
  'March': 1.516,
  'April': -0.767,
  'May': -0.427,
  'June': 0.165,
  'July': -0.276,
  'August': 0.084,
  'September': -0.092,
  'October': 0.781,
  'November': 0.18,
  'December': 0.723},
 {'Year': '1974',
  'January': 0.538,
  'February': -0.656,
  'March': 1.451,
  'April': 0.346,
  'May': 0.201,
  'June': -0.118,
  'July': 0.156,
  'August': -0.492,
  'September': -0.731,
  'October': -0.441,
  'November': -0.021,
  'December': -0.05},
 {'Year': '1975',
  'January': 0.798,
  'February': -0.627,
  'March': -0.774,
  'April': -2.023,
  'May': 0.092,
  'June': -0.563,
  'July': 0.007,
  'August': -0.227,
  'September': -0.954,
  'October': 0.099,
  'November': -0.414,
  'December': 0.084},
 {'Year': '1976',
  'January': 0.146,
  'February': 1.741,
  'March': 0.692,
  'April': 0.408,
  'May': -0.625,
  'June': -0.331,
  'July': -0.331,
  'August': -0.415,
  'September': -0.154,
  'October': -1.853,
  'November': -0.85,
  'December': -0.703},
 {'Year': '1977',
  'January': -1.311,
  'February': 2.045,
  'March': 0.733,
  'April': 0.963,
  'May': 0.597,
  'June': 0.878,
  'July': 0.532,
  'August': 0.414,
  'September': 0.708,
  'October': 0.065,
  'November': -0.124,
  'December': -0.003},
 {'Year': '1978',
  'January': -0.435,
  'February': -1.935,
  'March': 0.607,
  'April': 0.653,
  'May': 0.048,
  'June': 0.076,
  'July': 0.188,
  'August': 0.179,
  'September': 0.693,
  'October': 0.023,
  'November': 0.454,
  'December': -0.537},
 {'Year': '1979',
  'January': -2.283,
  'February': -3.498,
  'March': 1.057,
  'April': 0.004,
  'May': -0.086,
  'June': -0.236,
  'July': -0.032,
  'August': -0.097,
  'September': 0.807,
  'October': 1.038,
  'November': 0.304,
  'December': 0.935},
 {'Year': '1980',
  'January': 0.542,
  'February': 0.438,
  'March': 0.044,
  'April': 0.585,
  'May': 0.302,
  'June': 0.145,
  'July': 0.977,
  'August': 0.257,
  'September': 0.486,
  'October': -0.368,
  'November': 0.62,
  'December': -0.011},
 {'Year': '1981',
  'January': 2.946,
  'February': 1.794,
  'March': 2.061,
  'April': 2.029,
  'May': 0.073,
  'June': 0.698,
  'July': 0.088,
  'August': 0.008,
  'September': -0.087,
  'October': -0.643,
  'November': 1.448,
  'December': 0.521},
 {'Year': '1982',
  'January': -1.677,
  'February': -0.273,
  'March': 0.881,
  'April': -1.285,
  'May': 0.1,
  'June': -0.875,
  'July': -0.124,
  'August': 0.023,
  'September': -0.191,
  'October': -0.867,
  'November': -0.281,
  'December': 1.948},
 {'Year': '1983',
  'January': 1.42,
  'February': 1.738,
  'March': 1.127,
  'April': -1.265,
  'May': -0.797,
  'June': -0.409,
  'July': 0.322,
  'August': 1.202,
  'September': 0.065,
  'October': 0.13,
  'November': 0.963,
  'December': -2.428},
 {'Year': '1984',
  'January': -0.066,
  'February': 0.64,
  'March': 0.488,
  'April': -0.796,
  'May': -0.118,
  'June': 0.304,
  'July': -0.183,
  'August': 0.423,
  'September': -0.515,
  'October': -0.097,
  'November': -0.363,
  'December': 1.219},
 {'Year': '1985',
  'January': 0.274,
  'February': -1.571,
  'March': 1.464,
  'April': 0.48,
  'May': 0.687,
  'June': -0.345,
  'July': 0.262,
  'August': -0.424,
  'September': -0.885,
  'October': -0.265,
  'November': -1.134,
  'December': -0.412},
 {'Year': '1986',
  'January': 2.62,
  'February': 1.547,
  'March': 2.16,
  'April': 0.331,
  'May': 0.369,
  'June': 0.92,
  'July': 0.094,
  'August': -0.261,
  'September': -0.294,
  'October': 0.068,
  'November': -0.139,
  'December': 1.86},
 {'Year': '1987',
  'January': 1.545,
  'February': 1.962,
  'March': 1.133,
  'April': 1.07,
  'May': 1.293,
  'June': 0.829,
  'July': 0.04,
  'August': 0.158,
  'September': 0.103,
  'October': -0.057,
  'November': 0.988,
  'December': 0.87},
 {'Year': '1988',
  'January': -0.157,
  'February': 0.422,
  'March': 1.068,
  'April': 0.585,
  'May': 0.709,
  'June': 1.157,
  'July': 0.735,
  'August': 0.77,
  'September': -0.106,
  'October': -0.518,
  'November': 0.09,
  'December': 0.825},
 {'Year': '1989',
  'January': 0.805,
  'February': -0.801,
  'March': 0.943,
  'April': 1.39,
  'May': 0.179,
  'June': 0.002,
  'July': 0.513,
  'August': 0.055,
  'September': 0.059,
  'October': 0.181,
  'November': -0.25,
  'December': -1.581},
 {'Year': '1990',
  'January': 2.814,
  'February': -0.089,
  'March': 2.284,
  'April': 1.387,
  'May': -0.047,
  'June': 1.02,
  'July': 0.167,
  'August': 0.432,
  'September': 1.096,
  'October': -0.121,
  'November': 0.702,
  'December': -0.866},
 {'Year': '1991',
  'January': 0.228,
  'February': 2.693,
  'March': 1.302,
  'April': 1.14,
  'May': 1.183,
  'June': 0.551,
  'July': 0.136,
  'August': 0.384,
  'September': 0.329,
  'October': 0.409,
  'November': -1.182,
  'December': 1.264},
 {'Year': '1992',
  'January': 2.205,
  'February': 2.237,
  'March': 1.92,
  'April': 0.673,
  'May': 0.093,
  'June': -0.26,
  'July': -0.819,
  'August': -0.907,
  'September': -0.835,
  'October': -0.278,
  'November': -0.548,
  'December': -0.431},
 {'Year': '1993',
  'January': 0.615,
  'February': -0.441,
  'March': 1.037,
  'April': 0.256,
  'May': 0.749,
  'June': -0.24,
  'July': -0.149,
  'August': 0.09,
  'September': -0.635,
  'October': -0.07,
  'November': -0.722,
  'December': 1.343},
 {'Year': '1994',
  'January': 0.355,
  'February': -0.786,
  'March': 1.486,
  'April': 0.999,
  'May': 0.44,
  'June': 1.166,
  'July': 0.209,
  'August': 0.313,
  'September': 0.286,
  'October': -0.17,
  'November': -0.113,
  'December': 1.405},
 {'Year': '1995',
  'January': 1.817,
  'February': 1.922,
  'March': 0.825,
  'April': 0.016,
  'May': -0.101,
  'June': -0.236,
  'July': 0.157,
  'August': 1.054,
  'September': 0.532,
  'October': 0.366,
  'November': -0.249,
  'December': 0.446},
 {'Year': '1996',
  'January': -0.293,
  'February': 0.86,
  'March': -0.035,
  'April': -0.034,
  'May': 0.684,
  'June': 0.724,
  'July': 0.139,
  'August': 0.034,
  'September': -0.8,
  'October': -0.957,
  'November': -0.899,
  'December': 0.32},
 {'Year': '1997',
  'January': 0.038,
  'February': 2.04,
  'March': 1.523,
  'April': -0.836,
  'May': 0.057,
  'June': 0.3,
  'July': 0.144,
  'August': 0.209,
  'September': 1.164,
  'October': -0.517,
  'November': 0.182,
  'December': 0.511},
 {'Year': '1998',
  'January': 2.286,
  'February': 2.763,
  'March': 1.267,
  'April': 0.865,
  'May': 1.23,
  'June': 0.056,
  'July': 1.072,
  'August': 0.763,
  'September': 1.959,
  'October': 0.682,
  'November': 1.681,
  'December': 1.286},
 {'Year': '1999',
  'January': 1.365,
  'February': 1.779,
  'March': 0.736,
  'April': 0.366,
  'May': -0.062,
  'June': 0.125,
  'July': 0.391,
  'August': 0.543,
  'September': -0.008,
  'October': 0.061,
  'November': 2.384,
  'December': 0.842},
 {'Year': '2000',
  'January': 1.524,
  'February': 3.732,
  'March': 3.023,
  'April': 0.851,
  'May': 1.11,
  'June': 0.493,
  'July': 0.03,
  'August': 0.692,
  'September': 0.195,
  'October': 0.366,
  'November': -0.971,
  'December': -0.91},
 {'Year': '2001',
  'January': 2.046,
  'February': 1.181,
  'March': 0.491,
  'April': 1.21,
  'May': 0.721,
  'June': 0.559,
  'July': 0.312,
  'August': 1.11,
  'September': 0.582,
  'October': -0.245,
  'November': 2.262,
  'December': 1.195},
 {'Year': '2002',
  'January': 2.79,
  'February': 1.593,
  'March': 0.063,
  'April': 1.066,
  'May': -0.024,
  'June': 1.166,
  'July': 1.078,
  'August': 0.394,
  'September': 1.18,
  'October': -0.342,
  'November': 1.198,
  'December': 1.932},
 {'Year': '2003',
  'January': 2.166,
  'February': 0.66,
  'March': 1.203,
  'April': 0.877,
  'May': 0.503,
  'June': 0.077,
  'July': 0.916,
  'August': 1.267,
  'September': 0.021,
  'October': 1.643,
  'November': 0.57,
  'December': 1.169},
 {'Year': '2004',
  'January': 0.104,
  'February': 0.485,
  'March': 2.903,
  'April': 1.305,
  'May': 1.328,
  'June': 0.455,
  'July': 0.18,
  'August': -0.215,
  'September': 0.185,
  'October': 0.93,
  'November': 1.427,
  'December': 1.424},
 {'Year': '2005',
  'January': 2.161,
  'February': 2.17,
  'March': 1.441,
  'April': 0.744,
  'May': 0.308,
  'June': 0.71,
  'July': 0.933,
  'August': 0.869,
  'September': 1.425,
  'October': 0.75,
  'November': 0.785,
  'December': 0.858},
 {'Year': '2006',
  'January': 3.539,
  'February': 1.246,
  'March': 0.611,
  'April': 1.696,
  'May': 1.152,
  'June': 1.051,
  'July': 1.296,
  'August': 0.51,
  'September': -0.243,
  'October': -0.052,
  'November': 0.492,
  'December': 2.165},
 {'Year': '2007',
  'January': 1.164,
  'February': -0.414,
  'March': 2.007,
  'April': 0.459,
  'May': 1.088,
  'June': 0.859,
  'July': 0.764,
  'August': 1.541,
  'September': 1.068,
  'October': 1.196,
  'November': 1.704,
  'December': 0.637},
 {'Year': '2008',
  'January': 0.206,
  'February': 0.161,
  'March': 0.678,
  'April': -0.132,
  'May': -0.181,
  'June': 0.555,
  'July': 0.092,
  'August': 0.016,
  'September': 0.311,
  'October': -0.599,
  'November': 0.686,
  'December': -0.105},
 {'Year': '2009',
  'January': 0.418,
  'February': 1.349,
  'March': 0.678,
  'April': 0.119,
  'May': 0.943,
  'June': 0.149,
  'July': -0.056,
  'August': -0.041,
  'September': 0.838,
  'October': -1.04,
  'November': 1.381,
  'December': -0.647},
 {'Year': '2010',
  'January': 0.512,
  'February': -0.215,
  'March': 1.211,
  'April': 1.414,
  'May': 0.323,
  'June': 1.001,
  'July': 0.501,
  'August': 1.127,
  'September': 1.055,
  'October': 1.085,
  'November': 0.788,
  'December': -0.643},
 {'Year': '2011',
  'January': 0.616,
  'February': -0.048,
  'March': 1.251,
  'April': 0.546,
  'May': -0.124,
  'June': 0.709,
  'July': 1.089,
  'August': 1.292,
  'September': 0.83,
  'October': 0.716,
  'November': 0.128,
  'December': 1.775},
 {'Year': '2012',
  'January': 1.548,
  'February': 2.438,
  'March': 3.688,
  'April': 2.043,
  'May': 1.414,
  'June': 1.057,
  'July': 1.335,
  'August': 0.87,
  'September': 0.695,
  'October': -0.022,
  'November': 0.41,
  'December': 1.07},
 {'Year': '2013',
  'January': 2.06,
  'February': 0.662,
  'March': 0.162,
  'April': -1.015,
  'May': 0.141,
  'June': 1.369,
  'July': 0.536,
  'August': 0.631,
  'September': 0.882,
  'October': 0.565,
  'November': 0.098,
  'December': -0.344},
 {'Year': '2014',
  'January': 1.913,
  'February': -0.347,
  'March': 0.22,
  'April': 0.76,
  'May': 0.919,
  'June': 0.444,
  'July': -0.118,
  'August': 0.37,
  'September': 0.827,
  'October': 1.297,
  'November': -0.389,
  'December': 2.816},
 {'Year': '2015',
  'January': 2.033,
  'February': 0.389,
  'March': 2.532,
  'April': 1.535,
  'May': 1.044,
  'June': 1.632,
  'July': 0.371,
  'August': 0.445,
  'September': 1.561,
  'October': 1.95,
  'November': 1.784,
  'December': 3.172},
 {'Year': '2016',
  'January': 2.675,
  'February': 3.788,
  'March': 3.778,
  'April': 1.998,
  'May': 0.787,
  'June': 1.773,
  'July': 1.078,
  'August': 1.093,
  'September': 1.295,
  'October': 2.036,
  'November': 2.895,
  'December': 0.491},
 {'Year': '2017',
  'January': 2.128,
  'February': 3.528,
  'March': 1.844,
  'April': 1.978,
  'May': 0.521,
  'June': 1.1,
  'July': 1.259,
  'August': 0.1,
  'September': 0.918,
  'October': 1.23,
  'November': 1.797,
  'December': 2.149},
 {'Year': '2018',
  'January': 1.6,
  'February': 1.765,
  'March': 1.632,
  'April': -0.414,
  'May': 2.538,
  'June': 1.48,
  'July': 1.159,
  'August': 0.738,
  'September': 1.638,
  'October': 0.67,
  'November': -0.03,
  'December': 1.766},
 {'Year': '2019',
  'January': 1.866,
  'February': 0.375,
  'March': 1.404,
  'April': 1.411,
  'May': 0.307,
  'June': 0.677,
  'July': 1.045,
  'August': 1.018,
  'September': 2.021,
  'October': -0.269,
  'November': 0.514,
  'December': 1.988}]

In [13]:
group_temp = temp_df.groupby('Area')
group_temp.mean()

,field1,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Area,,,,,,,,,,,,,,,,,,,,,
Afghanistan,16.0,0.027941,-0.197471,0.888706,-0.905647,-0.051824,0.222118,-0.362176,-0.349294,-0.377882,...,1.499235,1.246118,0.179765,1.251706,0.487000,1.098294,1.671882,1.306765,1.574706,0.899588
Africa,8448.0,-0.089000,-0.006353,0.077471,-0.189471,-0.195294,0.146706,-0.222588,-0.181647,0.350294,...,1.518059,0.892941,0.814941,1.002353,1.049176,1.207941,1.483941,1.188647,1.236059,1.428000
Albania,50.0,0.473235,0.238941,0.254647,-0.197118,-0.361588,0.460294,-0.078353,0.060765,-0.037765,...,1.208706,1.137765,1.513235,1.541706,1.466529,1.689471,1.616000,1.416529,2.206412,2.029000
Algeria,84.0,0.302059,0.029706,0.176824,0.056529,-0.062353,0.320412,-0.072647,0.038000,0.183000,...,2.334000,1.354294,1.258824,1.224412,1.772529,1.285235,1.910765,1.518588,1.404353,1.289529
Americas,8652.0,-0.005941,-0.017941,0.212412,-0.309176,-0.207765,-0.128235,-0.071000,-0.062059,0.228765,...,1.356235,0.904000,1.319059,0.787765,0.843647,1.397941,1.664706,1.381294,0.967529,1.247471
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Western Europe,9162.0,0.905824,-0.680941,-0.984882,0.006294,-0.585000,0.392588,0.525824,0.005765,-0.164765,...,0.154412,1.697235,1.203235,0.733647,2.220765,1.846471,1.657059,1.707118,2.292941,2.160176
Western Sahara,8244.0,0.694941,0.410706,0.167941,0.702882,-0.325118,0.266471,-0.031941,-0.188176,0.284353,...,1.931706,1.452000,1.341235,1.420059,1.278353,1.607471,1.619588,2.094588,0.922059,1.597294
World,8414.0,0.155941,0.053235,0.139000,-0.277353,-0.170941,0.171412,-0.113706,-0.112000,-0.057941,...,1.229824,0.948471,1.036118,1.065647,1.068706,1.460647,1.626059,1.462353,1.278294,1.510882
Zambia,8347.0,0.147937,-0.157375,-0.381375,-0.320000,-0.351313,0.271500,-0.053250,-0.110687,0.257812,...,1.468375,1.015000,1.090625,1.132062,1.053750,1.773500,1.288000,0.678188,1.119500,1.391125
Zimbabwe,8380.0,0.234412,0.206000,-0.420235,-0.134941,-0.305118,0.182353,-0.099941,0.085353,0.131294,...,1.025353,0.515824,0.613588,0.401412,0.344353,1.209059,1.205353,0.237824,0.532059,1.208647