In [1]:
# dependencies
import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, join, outerjoin, MetaData, Table

In [2]:
# create engine to hawaii.sqlite
connect_string = "sqlite:///static/data/climateDB.db"

# reflect the tables
engine = create_engine(connect_string) 

# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect =True)

In [3]:
Base.classes.keys()

['CO2_emission', 'country_demo', 'temp_change']

In [4]:
# Save references to each table
Emission = Base.classes.CO2_emission
Temp_change = Base.classes.temp_change

In [5]:
# Create a session (link) from Python to the sqlite DB
session = Session(bind = engine)

#Filter the data for the year >= 1961
results_emission = session.query(Emission).filter(Emission.Year >= 1961)
#print(results)

In [6]:
emission_df = pd.read_sql(results_emission.statement, session.connection())

print(emission_df.head())
results_temp = session.query(Temp_change)

#print(results) 

temp_df = pd.read_sql(results_temp.statement, session.connection())

selection = ['DecJanFeb', 'MarAprMay', 'JunJulAug', 'SepOctNov']

                       Entity  Code  Year  AnnualCO2emissions
0                      Africa  None  1961           161437399
1                        Asia  None  1961          1392745886
2  Asia (excl. China & India)  None  1961           721204193
3                       EU-27  None  1961          2157634122
4                       EU-28  None  1961          2746248923

In [7]:
season_df = temp_df.loc[temp_df["Months"].isin(selection)]

#filter by months
month_df = temp_df.loc[(~temp_df["Months"].isin(selection)) & (temp_df["Months"] != 'Meteorological year') ]


# filter Meteorological year
meteor_df = temp_df.loc[temp_df["Months"] == 'Meteorological year' ]
meteor_df_new = meteor_df.copy()

# Calculate avg temp per Meteorological year
meteor_df_new['avg_temp']= round(meteor_df_new.mean(axis =1),3)
meteor_id_df = meteor_df_new.set_index('Area')

session.close() 
emission_df

                           Entity  Code  Year  AnnualCO2emissions
0                          Africa  None  1961           161437399
1                            Asia  None  1961          1392745886
2      Asia (excl. China & India)  None  1961           721204193
3                           EU-27  None  1961          2157634122
4                           EU-28  None  1961          2746248923
...                           ...   ...   ...                 ...
13801                       Samoa   WSM  2019              285379
13802                       Yemen   YEM  2019            10255048
13803                South Africa   ZAF  2019           478608101
13804                      Zambia   ZMB  2019             6720490
13805                    Zimbabwe   ZWE  2019            10374287

[13806 rows x 4 columns]

In [8]:
#calculate overall avg co2 emission per country
avg_co2 =  emission_df.groupby("Entity").agg({'AnnualCO2emissions':'mean'})
avg_co2 = round(avg_co2/1000000,3) ## converting GT to Mega ton for the tooltip

In [9]:
#Merge Temp_change by meteor year per country to Avg_Co2 Emission df
merged_co2_country =meteor_id_df.merge(avg_co2, how = 'inner',  left_index=True, right_index=True,)
merged_co2_country

,field1,Months,Element,Unit,1961,1962,1963,1964,1965,1966,...,2012,2013,2014,2015,2016,2017,2018,2019,avg_temp,AnnualCO2emissions
Afghanistan,32,Meteorological year,Temperature change,°C,-0.080,-0.120,0.882,-0.727,-0.200,0.176,...,0.102,1.237,0.474,1.096,1.473,1.483,1.524,0.893,0.958,3.036
Albania,66,Meteorological year,Temperature change,°C,0.631,0.339,0.084,-0.171,-0.392,0.551,...,1.603,1.495,1.399,1.725,1.697,1.337,2.232,1.911,1.577,4.503
Algeria,100,Meteorological year,Temperature change,°C,0.186,0.101,0.045,0.212,-0.135,0.404,...,1.238,1.267,1.774,1.224,1.866,1.630,1.326,1.224,2.366,74.340
Andorra,168,Meteorological year,Temperature change,°C,0.749,0.110,-0.755,0.305,-0.500,0.403,...,1.233,0.794,1.899,1.619,1.917,1.853,1.826,1.871,3.480,0.246
Angola,202,Meteorological year,Temperature change,°C,0.053,-0.139,-0.176,-0.215,-0.181,0.193,...,0.401,0.910,0.726,1.260,1.534,0.808,1.264,1.694,3.773,11.971
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
South America,8804,Meteorological year,Temperature change,°C,0.116,-0.139,0.139,-0.217,-0.015,0.007,...,0.943,0.834,1.105,1.435,1.242,1.232,1.034,1.310,147.178,649.369
Asia,8838,Meteorological year,Temperature change,°C,0.049,-0.008,0.266,-0.166,-0.033,0.326,...,0.693,1.054,0.909,1.284,1.457,1.464,1.343,1.369,147.765,8250.110
Europe,9042,Meteorological year,Temperature change,°C,0.874,0.300,0.103,-0.523,-0.430,0.724,...,1.789,1.118,1.807,2.106,2.286,1.959,2.009,2.116,151.420,6400.192
Oceania,9212,Meteorological year,Temperature change,°C,0.116,0.140,-0.118,-0.030,0.067,-0.231,...,0.276,1.396,1.083,0.997,1.163,1.110,1.096,1.370,153.948,306.085
Micronesia,9314,Meteorological year,Temperature change,°C,0.002,-0.031,0.058,-0.110,-0.253,0.044,...,0.619,0.727,0.737,0.838,1.124,1.016,0.903,0.907,155.471,0.061

In [10]:

#find null
merged_co2_country.isna().sum()

field1                0
Months                0
Element               0
Unit                  0
1961                  0
                     ..
2017                  0
2018                  0
2019                  0
avg_temp              0
AnnualCO2emissions    0
Length: 65, dtype: int64

In [11]:
#Get New Countries from the merged DF
New_Countires = merged_co2_country.index

#Create a dictionary holding above values
 #meta ={
#    'country' : country_name,
#    'demo_info' : [web scraped data],
#    'tool_tip' : [{'c_name': country_name,
#                'avg_temp':avg_temp,
#                'avg_co2' : new_Avg_c02,
#                'population':population from web scraping
#                }]
#   } 

#New Code---------------------------------------------------

meta = []

for country in New_Countires:
    temp_co2_obj = {
                    "Country":country,
                    "Avg Temp Change":merged_co2_country.loc[country,"avg_temp"],
                    "Avg Co2 Change":merged_co2_country.loc[country,"AnnualCO2emissions"],
                    }
    meta.append(temp_co2_obj)




meta

[{'Country': 'Afghanistan', 'Avg Temp Change': 0.958, 'Avg Co2 Change': 3.036},
 {'Country': 'Albania', 'Avg Temp Change': 1.577, 'Avg Co2 Change': 4.503},
 {'Country': 'Algeria', 'Avg Temp Change': 2.366, 'Avg Co2 Change': 74.34},
 {'Country': 'Andorra', 'Avg Temp Change': 3.48, 'Avg Co2 Change': 0.246},
 {'Country': 'Angola', 'Avg Temp Change': 3.773, 'Avg Co2 Change': 11.971},
 {'Country': 'Anguilla', 'Avg Temp Change': 4.185, 'Avg Co2 Change': 0.056},
 {'Country': 'Argentina', 'Avg Temp Change': 5.894, 'Avg Co2 Change': 124.014},
 {'Country': 'Australia', 'Avg Temp Change': 7.76, 'Avg Co2 Change': 273.351},
 {'Country': 'Austria', 'Avg Temp Change': 8.636, 'Avg Co2 Change': 59.374},
 {'Country': 'Bahamas', 'Avg Temp Change': 9.45, 'Avg Co2 Change': 2.751},
 {'Country': 'Bahrain', 'Avg Temp Change': 10.288, 'Avg Co2 Change': 14.123},
 {'Country': 'Bangladesh',
  'Avg Temp Change': 10.391,
  'Avg Co2 Change': 24.771},
 {'Country': 'Belize', 'Avg Temp Change': 13.49, 'Avg Co2 Change': 0.308},
 {'Country': 'Benin', 'Avg Temp Change': 14.086, 'Avg Co2 Change': 1.885},
 {'Country': 'Bhutan', 'Avg Temp Change': 14.486, 'Avg Co2 Change': 0.293},
 {'Country': 'Bolivia', 'Avg Temp Change': 15.15, 'Avg Co2 Change': 8.383},
 {'Country': 'Botswana', 'Avg Temp Change': 16.193, 'Avg Co2 Change': 2.416},
 {'Country': 'Brazil', 'Avg Temp Change': 16.94, 'Avg Co2 Change': 246.389},
 {'Country': 'British Virgin Islands',
  'Avg Temp Change': 17.21,
  'Avg Co2 Change': 0.091},
 {'Country': 'Brunei', 'Avg Temp Change': 17.912, 'Avg Co2 Change': 5.288},
 {'Country': 'Bulgaria', 'Avg Temp Change': 18.545, 'Avg Co2 Change': 59.913},
 {'Country': 'Burkina Faso',
  'Avg Temp Change': 19.159,
  'Avg Co2 Change': 1.019},
 {'Country': 'Cambodia', 'Avg Temp Change': 20.738, 'Avg Co2 Change': 2.42},
 {'Country': 'Cameroon', 'Avg Temp Change': 21.362, 'Avg Co2 Change': 3.409},
 {'Country': 'Canada', 'Avg Temp Change': 22.093, 'Avg Co2 Change': 455.258},
 {'Country': 'Central African Republic',
  'Avg Temp Change': 23.053,
  'Avg Co2 Change': 0.2},
 {'Country': 'Chad', 'Avg Temp Change': 23.648, 'Avg Co2 Change': 0.423},
 {'Country': 'Chile', 'Avg Temp Change': 24.515, 'Avg Co2 Change': 42.422},
 {'Country': 'China', 'Avg Temp Change': 25.418, 'Avg Co2 Change': 3642.462},
 {'Country': 'Colombia', 'Avg Temp Change': 29.22, 'Avg Co2 Change': 53.284},
 {'Country': 'Cuba', 'Avg Temp Change': 33.301, 'Avg Co2 Change': 25.556},
 {'Country': 'Cyprus', 'Avg Temp Change': 33.755, 'Avg Co2 Change': 4.756},
 {'Country': 'Democratic Republic of the Congo',
  'Avg Temp Change': 36.014,
  'Avg Co2 Change': 2.645},
 {'Country': 'Denmark', 'Avg Temp Change': 36.873, 'Avg Co2 Change': 52.663},
 {'Country': 'Dominica', 'Avg Temp Change': 37.618, 'Avg Co2 Change': 0.078},
 {'Country': 'Dominican Republic',
  'Avg Temp Change': 38.459,
  'Avg Co2 Change': 12.171},
 {'Country': 'Ecuador', 'Avg Temp Change': 38.936, 'Avg Co2 Change': 19.336},
 {'Country': 'Egypt', 'Avg Temp Change': 39.327, 'Avg Co2 Change': 100.831},
 {'Country': 'El Salvador', 'Avg Temp Change': 40.071, 'Avg Co2 Change': 3.72},
 {'Country': 'Eswatini', 'Avg Temp Change': 42.295, 'Avg Co2 Change': 0.682},
 {'Country': 'Faeroe Islands',
  'Avg Temp Change': 44.532,
  'Avg Co2 Change': 0.493},
 {'Country': 'Fiji', 'Avg Temp Change': 45.15, 'Avg Co2 Change': 0.859},
 {'Country': 'Finland', 'Avg Temp Change': 46.007, 'Avg Co2 Change': 49.48},
 {'Country': 'France', 'Avg Temp Change': 46.512, 'Avg Co2 Change': 404.926},
 {'Country': 'French Polynesia',
  'Avg Temp Change': 47.32,
  'Avg Co2 Change': 0.467},
 {'Country': 'Gabon', 'Avg Temp Change': 48.447, 'Avg Co2 Change': 4.309},
 {'Country': 'Gambia', 'Avg Temp Change': 49.508, 'Avg Co2 Change': 0.226},
 {'Country': 'Germany', 'Avg Temp Change': 50.518, 'Avg Co2 Change': 944.5},
 {'Country': 'Ghana', 'Avg Temp Change': 50.899, 'Avg Co2 Change': 5.748},
 {'Country': 'Greece', 'Avg Temp Change': 51.872, 'Avg Co2 Change': 66.055},
 {'Country': 'Greenland', 'Avg Temp Change': 52.469, 'Avg Co2 Change': 0.46},
 {'Country': 'Grenada', 'Avg Temp Change': 53.012, 'Avg Co2 Change': 0.132},
 {'Country': 'Guatemala', 'Avg Temp Change': 54.25, 'Avg Co2 Change': 7.015},
 {'Country': 'Guinea', 'Avg Temp Change': 54.946, 'Avg Co2 Change': 1.365},
 {'Country': 'Guinea-Bissau',
  'Avg Temp Change': 55.722,
  'Avg Co2 Change': 0.165},
 {'Country': 'Guyana', 'Avg Temp Change': 55.987, 'Avg Co2 Change': 1.577},
 {'Country': 'Haiti', 'Avg Temp Change': 56.625, 'Avg Co2 Change': 1.247},
 {'Country': 'Honduras', 'Avg Temp Change': 57.656, 'Avg Co2 Change': 4.149},
 {'Country': 'Hungary', 'Avg Temp Change': 58.371, 'Avg Co2 Change': 65.212},
 {'Country': 'Iceland', 'Avg Temp Change': 58.599, 'Avg Co2 Change': 2.349},
 {'Country': 'India', 'Avg Temp Change': 59.113, 'Avg Co2 Change': 832.208},
 {'Country': 'Indonesia',
  'Avg Temp Change': 59.756,
  'Avg Co2 Change': 215.805},
 {'Country': 'Iran', 'Avg Temp Change': 60.634, 'Avg Co2 Change': 290.765},
 {'Country': 'Iraq', 'Avg Temp Change': 61.095, 'Avg Co2 Change': 72.273},
 {'Country': 'Ireland', 'Avg Temp Change': 61.547, 'Avg Co2 Change': 31.379},
 {'Country': 'Israel', 'Avg Temp Change': 62.557, 'Avg Co2 Change': 38.783},
 {'Country': 'Italy', 'Avg Temp Change': 63.44, 'Avg Co2 Change': 371.75},
 {'Country': 'Japan', 'Avg Temp Change': 64.313, 'Avg Co2 Change': 997.1},
 {'Country': 'Jordan', 'Avg Temp Change': 64.858, 'Avg Co2 Change': 11.37},
 {'Country': 'Kenya', 'Avg Temp Change': 66.155, 'Avg Co2 Change': 7.267},
 {'Country': 'Kuwait', 'Avg Temp Change': 67.54, 'Avg Co2 Change': 47.749},
 {'Country': 'Laos', 'Avg Temp Change': 68.388, 'Avg Co2 Change': 2.598},
 {'Country': 'Lebanon', 'Avg Temp Change': 69.485, 'Avg Co2 Change': 11.683},
 {'Country': 'Lesotho', 'Avg Temp Change': 70.111, 'Avg Co2 Change': 1.025},
 {'Country': 'Liberia', 'Avg Temp Change': 70.746, 'Avg Co2 Change': 0.863},
 {'Country': 'Libya', 'Avg Temp Change': 71.222, 'Avg Co2 Change': 34.263},
 {'Country': 'Liechtenstein',
  'Avg Temp Change': 72.087,
  'Avg Co2 Change': 0.101},
 {'Country': 'Madagascar', 'Avg Temp Change': 73.425, 'Avg Co2 Change': 1.523},
 {'Country': 'Malawi', 'Avg Temp Change': 74.071, 'Avg Co2 Change': 0.763},
 {'Country': 'Malaysia', 'Avg Temp Change': 74.621, 'Avg Co2 Change': 95.099},
 {'Country': 'Mali', 'Avg Temp Change': 75.913, 'Avg Co2 Change': 0.896},
 {'Country': 'Malta', 'Avg Temp Change': 76.468, 'Avg Co2 Change': 1.687},
 {'Country': 'Mauritania', 'Avg Temp Change': 78.348, 'Avg Co2 Change': 1.241},
 {'Country': 'Mauritius', 'Avg Temp Change': 78.514, 'Avg Co2 Change': 1.871},
 {'Country': 'Mexico', 'Avg Temp Change': 79.662, 'Avg Co2 Change': 306.124},
 {'Country': 'Mongolia', 'Avg Temp Change': 82.406, 'Avg Co2 Change': 11.613},
 {'Country': 'Morocco', 'Avg Temp Change': 84.055, 'Avg Co2 Change': 28.28},
 {'Country': 'Mozambique', 'Avg Temp Change': 84.157, 'Avg Co2 Change': 2.665},
 {'Country': 'Myanmar', 'Avg Temp Change': 84.779, 'Avg Co2 Change': 8.362},
 {'Country': 'Namibia', 'Avg Temp Change': 85.418, 'Avg Co2 Change': 1.226},
 {'Country': 'Nepal', 'Avg Temp Change': 86.303, 'Avg Co2 Change': 2.414},
 {'Country': 'Netherlands',
  'Avg Temp Change': 87.324,
  'Avg Co2 Change': 154.751},
 {'Country': 'New Caledonia',
  'Avg Temp Change': 88.111,
  'Avg Co2 Change': 2.432},
 {'Country': 'New Zealand',
  'Avg Temp Change': 88.629,
  'Avg Co2 Change': 25.392},
 {'Country': 'Nicaragua', 'Avg Temp Change': 89.36, 'Avg Co2 Change': 2.838},
 {'Country': 'Niger', 'Avg Temp Change': 90.037, 'Avg Co2 Change': 0.767},
 {'Country': 'Nigeria', 'Avg Temp Change': 90.609, 'Avg Co2 Change': 63.804},
 {'Country': 'Norway', 'Avg Temp Change': 92.918, 'Avg Co2 Change': 35.109},
 {'Country': 'Oman', 'Avg Temp Change': 93.163, 'Avg Co2 Change': 20.477},
 {'Country': 'Pakistan', 'Avg Temp Change': 94.229, 'Avg Co2 Change': 82.221},
 {'Country': 'Palestine', 'Avg Temp Change': 95.427, 'Avg Co2 Change': 0.968},
 {'Country': 'Papua New Guinea',
  'Avg Temp Change': 96.614,
  'Avg Co2 Change': 2.756},
 {'Country': 'Paraguay', 'Avg Temp Change': 97.277, 'Avg Co2 Change': 2.841},
 {'Country': 'Peru', 'Avg Temp Change': 97.904, 'Avg Co2 Change': 27.707},
 {'Country': 'Philippines',
  'Avg Temp Change': 98.407,
  'Avg Co2 Change': 53.954},
 {'Country': 'Poland', 'Avg Temp Change': 99.783, 'Avg Co2 Change': 345.64},
 {'Country': 'Portugal', 'Avg Temp Change': 100.297, 'Avg Co2 Change': 38.874},
 {'Country': 'Puerto Rico', 'Avg Temp Change': 100.574, 'Avg Co2 Change': 0.0},
 {'Country': 'Qatar', 'Avg Temp Change': 101.433, 'Avg Co2 Change': 34.501},
 {'Country': 'South Korea',
  'Avg Temp Change': 101.78,
  'Avg Co2 Change': 287.905},
 {'Country': 'Romania', 'Avg Temp Change': 103.589, 'Avg Co2 Change': 125.25},
 {'Country': 'Saint Lucia',
  'Avg Temp Change': 106.238,
  'Avg Co2 Change': 0.199},
 {'Country': 'Saint Pierre and Miquelon',
  'Avg Temp Change': 106.655,
  'Avg Co2 Change': 0.057},
 {'Country': 'Saint Vincent and the Grenadines',
  'Avg Temp Change': 107.412,
  'Avg Co2 Change': 0.115},
 {'Country': 'Saudi Arabia',
  'Avg Temp Change': 109.798,
  'Avg Co2 Change': 250.238},
 {'Country': 'Senegal', 'Avg Temp Change': 110.627, 'Avg Co2 Change': 3.838},
 {'Country': 'Seychelles', 'Avg Temp Change': 111.999, 'Avg Co2 Change': 0.27},
 {'Country': 'Somalia', 'Avg Temp Change': 115.605, 'Avg Co2 Change': 0.536},
 {'Country': 'South Africa',
  'Avg Temp Change': 116.013,
  'Avg Co2 Change': 311.865},
 {'Country': 'Spain', 'Avg Temp Change': 117.872, 'Avg Co2 Change': 220.983},
 {'Country': 'Sri Lanka', 'Avg Temp Change': 118.317, 'Avg Co2 Change': 7.839},
 {'Country': 'Suriname', 'Avg Temp Change': 120.075, 'Avg Co2 Change': 1.86},
 {'Country': 'Sweden', 'Avg Temp Change': 121.331, 'Avg Co2 Change': 61.395},
 {'Country': 'Switzerland',
  'Avg Temp Change': 121.935,
  'Avg Co2 Change': 40.187},
 {'Country': 'Syria', 'Avg Temp Change': 122.223, 'Avg Co2 Change': 30.556},
 {'Country': 'Thailand',
  'Avg Temp Change': 123.328,
  'Avg Co2 Change': 120.787},
 {'Country': 'Togo', 'Avg Temp Change': 124.592, 'Avg Co2 Change': 1.168},
 {'Country': 'Tonga', 'Avg Temp Change': 125.674, 'Avg Co2 Change': 0.071},
 {'Country': 'Tunisia', 'Avg Temp Change': 127.114, 'Avg Co2 Change': 14.543},
 {'Country': 'Turkey', 'Avg Temp Change': 127.29, 'Avg Co2 Change': 171.655},
 {'Country': 'Tuvalu', 'Avg Temp Change': 128.906, 'Avg Co2 Change': 0.005},
 {'Country': 'Uganda', 'Avg Temp Change': 129.632, 'Avg Co2 Change': 1.653},
 {'Country': 'United Arab Emirates',
  'Avg Temp Change': 130.625,
  'Avg Co2 Change': 79.129},
 {'Country': 'United Kingdom',
  'Avg Temp Change': 131.272,
  'Avg Co2 Change': 561.033},
 {'Country': 'Tanzania', 'Avg Temp Change': 131.844, 'Avg Co2 Change': 3.807},
 {'Country': 'United States of America',
  'Avg Temp Change': 132.439,
  'Avg Co2 Change': 4934.254},
 {'Country': 'Uruguay', 'Avg Temp Change': 133.469, 'Avg Co2 Change': 5.468},
 {'Country': 'Vanuatu', 'Avg Temp Change': 135.239, 'Avg Co2 Change': 0.077},
 {'Country': 'Venezuela',
  'Avg Temp Change': 135.815,
  'Avg Co2 Change': 116.086},
 {'Country': 'Vietnam', 'Avg Temp Change': 136.329, 'Avg Co2 Change': 58.635},
 {'Country': 'Wallis and Futuna Islands',
  'Avg Temp Change': 137.494,
  'Avg Co2 Change': 0.008},
 {'Country': 'Zambia', 'Avg Temp Change': 139.811, 'Avg Co2 Change': 3.289},
 {'Country': 'Zimbabwe', 'Avg Temp Change': 140.213, 'Avg Co2 Change': 10.514},
 {'Country': 'World', 'Avg Temp Change': 141.015, 'Avg Co2 Change': 22816.567},
 {'Country': 'Africa', 'Avg Temp Change': 141.55, 'Avg Co2 Change': 726.391},
 {'Country': 'South America',
  'Avg Temp Change': 147.178,
  'Avg Co2 Change': 649.369},
 {'Country': 'Asia', 'Avg Temp Change': 147.765, 'Avg Co2 Change': 8250.11},
 {'Country': 'Europe', 'Avg Temp Change': 151.42, 'Avg Co2 Change': 6400.192},
 {'Country': 'Oceania', 'Avg Temp Change': 153.948, 'Avg Co2 Change': 306.085},
 {'Country': 'Micronesia',
  'Avg Temp Change': 155.471,
  'Avg Co2 Change': 0.061}]