In [1]:
# dependencies
import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, join, outerjoin, MetaData, Table

In [2]:
# create engine to hawaii.sqlite
connect_string = "sqlite:///static/data/climateDB.db"

# reflect the tables
engine = create_engine(connect_string) 

# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect =True)

In [3]:
Base.classes.keys()

['CO2_emission', 'temp_change']

In [4]:
# Save references to each table
Emission = Base.classes.CO2_emission
Temp_change = Base.classes.temp_change

In [5]:
# Create a session (link) from Python to the sqlite DB
session = Session(bind = engine)

#Filter the data for the year >= 1961
results_emission = session.query(Emission).filter(Emission.Year >= 1961)
#print(results)

In [6]:
emission_df = pd.read_sql(results_emission.statement, session.connection())

print(emission_df.head())
results_temp = session.query(Temp_change)

#print(results) 

temp_df = pd.read_sql(results_temp.statement, session.connection())

selection = ['DecJanFeb', 'MarAprMay', 'JunJulAug', 'SepOctNov']

        Entity Code  Year  AnnualCO2emissions
0  Afghanistan  AFG  1961              490798
1  Afghanistan  AFG  1962              688594
2  Afghanistan  AFG  1963              706736
3  Afghanistan  AFG  1964              838551
4  Afghanistan  AFG  1965             1006917

In [48]:
season_df = temp_df.loc[temp_df["Months"].isin(selection)]

#filter by months
month_df = temp_df.loc[(~temp_df["Months"].isin(selection)) & (temp_df["Months"] != 'Meteorological year') ]

# filter Meteorological year
meteor_df = temp_df.loc[temp_df["Months"] == 'Meteorological year' ]
meteor_df_new = meteor_df.copy()
# Calculate avg temp per Meteorological year
meteor_df_new['avg_temp']= round(meteor_df_new.mean(axis =1),3)
meteor_id_df = meteor_df_new.set_index('Area')

session.close() 
meteor_id_df

,field1,Months,Element,Unit,1961,1962,1963,1964,1965,1966,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,avg_temp
Area,,,,,,,,,,,,,,,,,,,,,
Afghanistan,32,Meteorological year,Temperature change,°C,-0.080,-0.120,0.882,-0.727,-0.200,0.176,...,1.342,0.102,1.237,0.474,1.096,1.473,1.483,1.524,0.893,0.958
Albania,66,Meteorological year,Temperature change,°C,0.631,0.339,0.084,-0.171,-0.392,0.551,...,1.123,1.603,1.495,1.399,1.725,1.697,1.337,2.232,1.911,1.577
Algeria,100,Meteorological year,Temperature change,°C,0.186,0.101,0.045,0.212,-0.135,0.404,...,1.492,1.238,1.267,1.774,1.224,1.866,1.630,1.326,1.224,2.366
Andorra,168,Meteorological year,Temperature change,°C,0.749,0.110,-0.755,0.305,-0.500,0.403,...,1.643,1.233,0.794,1.899,1.619,1.917,1.853,1.826,1.871,3.480
Angola,202,Meteorological year,Temperature change,°C,0.053,-0.139,-0.176,-0.215,-0.181,0.193,...,0.708,0.401,0.910,0.726,1.260,1.534,0.808,1.264,1.694,3.773
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Low Income Food Deficit Countries,9518,Meteorological year,Temperature change,°C,-0.085,-0.186,0.072,-0.207,-0.224,0.080,...,0.872,0.618,0.875,0.820,1.061,1.292,1.276,1.094,1.244,159.063
Net Food Importing Developing Countries,9552,Meteorological year,Temperature change,°C,-0.015,-0.096,0.116,-0.204,-0.155,0.129,...,0.878,0.692,0.977,0.971,1.269,1.374,1.292,1.222,1.412,159.672
Annex I countries,9586,Meteorological year,Temperature change,°C,0.453,0.161,0.172,-0.366,-0.409,0.270,...,1.090,1.512,1.109,1.119,1.616,2.098,1.607,1.397,1.627,160.359
Non-Annex I countries,9620,Meteorological year,Temperature change,°C,0.029,-0.059,0.149,-0.174,-0.092,0.151,...,0.801,0.768,0.955,1.003,1.276,1.366,1.316,1.234,1.361,160.793
OECD,9654,Meteorological year,Temperature change,°C,0.165,-0.009,0.134,-0.190,-0.385,-0.166,...,0.805,1.274,0.991,0.811,1.282,1.850,1.349,1.088,1.297,161.386

In [49]:
#calculate overall avg co2 emission per country
avg_co2 =  emission_df.groupby("Entity").agg({'AnnualCO2emissions':'mean'})
avg_co2 = round(avg_co2/1000000,3) ## converting GT to Mega ton for the tooltip

In [50]:
#Merge Temp_change by meteor year per country to Avg_Co2 Emission df
merged_co2_country =meteor_id_df.merge(avg_co2, how = 'right',  left_index=True, right_index=True,)
#find null
merged_co2_country.isna().sum()
#fill 0
merged_co2_country = merged_co2_country.fillna(0)
#find null again
merged_co2_country.isna().sum()

#Get New Countries from the merged DF
New_Countires = merged_co2_country.index

#Create a dictionary holding above values
 #meta ={
#    'country' : country_name,
#    'demo_info' : [web scraped data],
#    'tool_tip' : [{'c_name': country_name,
#                'avg_temp':avg_temp,
#                'avg_co2' : new_Avg_c02,
#                'population':population from web scraping
#                }]
#   } 

#New Code---------------------------------------------------

meta = []

for country in New_Countires:
    temp_co2_obj = {
                    "Country":country,
                    "Avg Temp Change":merged_co2_country.loc[country,"avg_temp"],
                    "Avg Co2 Change":merged_co2_country.loc[country,"AnnualCO2emissions"],
                    }
    meta.append(temp_co2_obj)




meta

[{'Country': 'Afghanistan', 'Avg Temp Change': 0.958, 'Avg Co2 Change': 3.036},
 {'Country': 'Africa', 'Avg Temp Change': 141.55, 'Avg Co2 Change': 726.391},
 {'Country': 'Albania', 'Avg Temp Change': 1.577, 'Avg Co2 Change': 4.503},
 {'Country': 'Algeria', 'Avg Temp Change': 2.366, 'Avg Co2 Change': 74.34},
 {'Country': 'Andorra', 'Avg Temp Change': 3.48, 'Avg Co2 Change': 0.246},
 {'Country': 'Angola', 'Avg Temp Change': 3.773, 'Avg Co2 Change': 11.971},
 {'Country': 'Anguilla', 'Avg Temp Change': 4.185, 'Avg Co2 Change': 0.056},
 {'Country': 'Antigua and Barbuda',
  'Avg Temp Change': 0.0,
  'Avg Co2 Change': 0.356},
 {'Country': 'Argentina', 'Avg Temp Change': 5.894, 'Avg Co2 Change': 124.014},
 {'Country': 'Armenia', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 9.783},
 {'Country': 'Aruba', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 1.096},
 {'Country': 'Asia', 'Avg Temp Change': 147.765, 'Avg Co2 Change': 8250.11},
 {'Country': 'Asia (excl. China & India)',
  'Avg Temp Change': 0.0,
  'Avg Co2 Change': 3775.44},
 {'Country': 'Australia', 'Avg Temp Change': 7.76, 'Avg Co2 Change': 273.351},
 {'Country': 'Austria', 'Avg Temp Change': 8.636, 'Avg Co2 Change': 59.374},
 {'Country': 'Azerbaijan', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 38.657},
 {'Country': 'Bahamas', 'Avg Temp Change': 9.45, 'Avg Co2 Change': 2.751},
 {'Country': 'Bahrain', 'Avg Temp Change': 10.288, 'Avg Co2 Change': 14.123},
 {'Country': 'Bangladesh',
  'Avg Temp Change': 10.391,
  'Avg Co2 Change': 24.771},
 {'Country': 'Barbados', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 0.887},
 {'Country': 'Belarus', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 76.99},
 {'Country': 'Belgium', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 116.343},
 {'Country': 'Belize', 'Avg Temp Change': 13.49, 'Avg Co2 Change': 0.308},
 {'Country': 'Benin', 'Avg Temp Change': 14.086, 'Avg Co2 Change': 1.885},
 {'Country': 'Bermuda', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 0.462},
 {'Country': 'Bhutan', 'Avg Temp Change': 14.486, 'Avg Co2 Change': 0.293},
 {'Country': 'Bolivia', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 8.383},
 {'Country': 'Bonaire Sint Eustatius and Saba',
  'Avg Temp Change': 0.0,
  'Avg Co2 Change': 0.366},
 {'Country': 'Bosnia and Herzegovina',
  'Avg Temp Change': 0.0,
  'Avg Co2 Change': 14.537},
 {'Country': 'Botswana', 'Avg Temp Change': 16.193, 'Avg Co2 Change': 2.416},
 {'Country': 'Brazil', 'Avg Temp Change': 16.94, 'Avg Co2 Change': 246.389},
 {'Country': 'British Virgin Islands',
  'Avg Temp Change': 17.21,
  'Avg Co2 Change': 0.091},
 {'Country': 'Brunei', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 5.288},
 {'Country': 'Bulgaria', 'Avg Temp Change': 18.545, 'Avg Co2 Change': 59.913},
 {'Country': 'Burkina Faso',
  'Avg Temp Change': 19.159,
  'Avg Co2 Change': 1.019},
 {'Country': 'Burundi', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 0.204},
 {'Country': 'Cambodia', 'Avg Temp Change': 20.738, 'Avg Co2 Change': 2.42},
 {'Country': 'Cameroon', 'Avg Temp Change': 21.362, 'Avg Co2 Change': 3.409},
 {'Country': 'Canada', 'Avg Temp Change': 22.093, 'Avg Co2 Change': 455.258},
 {'Country': 'Cape Verde', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 0.21},
 {'Country': 'Central African Republic',
  'Avg Temp Change': 23.053,
  'Avg Co2 Change': 0.2},
 {'Country': 'Chad', 'Avg Temp Change': 23.648, 'Avg Co2 Change': 0.423},
 {'Country': 'Chile', 'Avg Temp Change': 24.515, 'Avg Co2 Change': 42.422},
 {'Country': 'China', 'Avg Temp Change': 25.418, 'Avg Co2 Change': 3642.462},
 {'Country': 'Christmas Island',
  'Avg Temp Change': 0.0,
  'Avg Co2 Change': 0.023},
 {'Country': 'Colombia', 'Avg Temp Change': 29.22, 'Avg Co2 Change': 53.284},
 {'Country': 'Comoros', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 0.081},
 {'Country': 'Congo', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 1.271},
 {'Country': 'Cook Islands', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 0.034},
 {'Country': 'Costa Rica', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 4.108},
 {'Country': 'Croatia', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 16.978},
 {'Country': 'Cuba', 'Avg Temp Change': 33.301, 'Avg Co2 Change': 25.556},
 {'Country': 'Cyprus', 'Avg Temp Change': 33.755, 'Avg Co2 Change': 4.756},
 {'Country': 'Czechia', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 141.273},
 {'Country': 'Democratic Republic of Congo',
  'Avg Temp Change': 0.0,
  'Avg Co2 Change': 2.645},
 {'Country': 'Denmark', 'Avg Temp Change': 36.873, 'Avg Co2 Change': 52.663},
 {'Country': 'Djibouti', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 0.311},
 {'Country': 'Dominica', 'Avg Temp Change': 37.618, 'Avg Co2 Change': 0.078},
 {'Country': 'Dominican Republic',
  'Avg Temp Change': 38.459,
  'Avg Co2 Change': 12.171},
 {'Country': 'EU-27', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 3457.21},
 {'Country': 'EU-28', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 4018.243},
 {'Country': 'Ecuador', 'Avg Temp Change': 38.936, 'Avg Co2 Change': 19.336},
 {'Country': 'Egypt', 'Avg Temp Change': 39.327, 'Avg Co2 Change': 100.831},
 {'Country': 'El Salvador', 'Avg Temp Change': 40.071, 'Avg Co2 Change': 3.72},
 {'Country': 'Equatorial Guinea',
  'Avg Temp Change': 0.0,
  'Avg Co2 Change': 2.217},
 {'Country': 'Eritrea', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 0.285},
 {'Country': 'Estonia', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 22.252},
 {'Country': 'Eswatini', 'Avg Temp Change': 42.295, 'Avg Co2 Change': 0.682},
 {'Country': 'Ethiopia', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 4.097},
 {'Country': 'Europe', 'Avg Temp Change': 151.42, 'Avg Co2 Change': 6400.192},
 {'Country': 'Europe (excl. EU-27)',
  'Avg Temp Change': 0.0,
  'Avg Co2 Change': 2954.115},
 {'Country': 'Europe (excl. EU-28)',
  'Avg Temp Change': 0.0,
  'Avg Co2 Change': 2393.082},
 {'Country': 'Faeroe Islands',
  'Avg Temp Change': 0.0,
  'Avg Co2 Change': 0.493},
 {'Country': 'Fiji', 'Avg Temp Change': 45.15, 'Avg Co2 Change': 0.859},
 {'Country': 'Finland', 'Avg Temp Change': 46.007, 'Avg Co2 Change': 49.48},
 {'Country': 'France', 'Avg Temp Change': 46.512, 'Avg Co2 Change': 404.926},
 {'Country': 'French Equatorial Africa',
  'Avg Temp Change': 0.0,
  'Avg Co2 Change': 0.0},
 {'Country': 'French Polynesia',
  'Avg Temp Change': 47.32,
  'Avg Co2 Change': 0.467},
 {'Country': 'French West Africa',
  'Avg Temp Change': 0.0,
  'Avg Co2 Change': 0.0},
 {'Country': 'Gabon', 'Avg Temp Change': 48.447, 'Avg Co2 Change': 4.309},
 {'Country': 'Gambia', 'Avg Temp Change': 49.508, 'Avg Co2 Change': 0.226},
 {'Country': 'Georgia', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 14.809},
 {'Country': 'Germany', 'Avg Temp Change': 50.518, 'Avg Co2 Change': 944.5},
 {'Country': 'Ghana', 'Avg Temp Change': 50.899, 'Avg Co2 Change': 5.748},
 {'Country': 'Greece', 'Avg Temp Change': 51.872, 'Avg Co2 Change': 66.055},
 {'Country': 'Greenland', 'Avg Temp Change': 52.469, 'Avg Co2 Change': 0.46},
 {'Country': 'Grenada', 'Avg Temp Change': 53.012, 'Avg Co2 Change': 0.132},
 {'Country': 'Guatemala', 'Avg Temp Change': 54.25, 'Avg Co2 Change': 7.015},
 {'Country': 'Guinea', 'Avg Temp Change': 54.946, 'Avg Co2 Change': 1.365},
 {'Country': 'Guinea-Bissau',
  'Avg Temp Change': 55.722,
  'Avg Co2 Change': 0.165},
 {'Country': 'Guyana', 'Avg Temp Change': 55.987, 'Avg Co2 Change': 1.577},
 {'Country': 'Haiti', 'Avg Temp Change': 56.625, 'Avg Co2 Change': 1.247},
 {'Country': 'Honduras', 'Avg Temp Change': 57.656, 'Avg Co2 Change': 4.149},
 {'Country': 'Hong Kong', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 26.542},
 {'Country': 'Hungary', 'Avg Temp Change': 58.371, 'Avg Co2 Change': 65.212},
 {'Country': 'Iceland', 'Avg Temp Change': 58.599, 'Avg Co2 Change': 2.349},
 {'Country': 'India', 'Avg Temp Change': 59.113, 'Avg Co2 Change': 832.208},
 {'Country': 'Indonesia',
  'Avg Temp Change': 59.756,
  'Avg Co2 Change': 215.805},
 {'Country': 'International transport',
  'Avg Temp Change': 0.0,
  'Avg Co2 Change': 657.589},
 {'Country': 'Iran', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 290.765},
 {'Country': 'Iraq', 'Avg Temp Change': 61.095, 'Avg Co2 Change': 72.273},
 {'Country': 'Ireland', 'Avg Temp Change': 61.547, 'Avg Co2 Change': 31.379},
 {'Country': 'Israel', 'Avg Temp Change': 62.557, 'Avg Co2 Change': 38.783},
 {'Country': 'Italy', 'Avg Temp Change': 63.44, 'Avg Co2 Change': 371.75},
 {'Country': 'Jamaica', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 7.356},
 {'Country': 'Japan', 'Avg Temp Change': 64.313, 'Avg Co2 Change': 997.1},
 {'Country': 'Jordan', 'Avg Temp Change': 64.858, 'Avg Co2 Change': 11.37},
 {'Country': 'Kazakhstan', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 202.158},
 {'Country': 'Kenya', 'Avg Temp Change': 66.155, 'Avg Co2 Change': 7.267},
 {'Country': 'Kiribati', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 0.035},
 {'Country': 'Kosovo', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 1.668},
 {'Country': 'Kuwait', 'Avg Temp Change': 67.54, 'Avg Co2 Change': 47.749},
 {'Country': 'Kuwaiti Oil Fires',
  'Avg Temp Change': 0.0,
  'Avg Co2 Change': 8.1},
 {'Country': 'Kyrgyzstan', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 12.322},
 {'Country': 'Laos', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 2.598},
 {'Country': 'Latvia', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 11.133},
 {'Country': 'Lebanon', 'Avg Temp Change': 69.485, 'Avg Co2 Change': 11.683},
 {'Country': 'Leeward Islands', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 0.0},
 {'Country': 'Lesotho', 'Avg Temp Change': 70.111, 'Avg Co2 Change': 1.025},
 {'Country': 'Liberia', 'Avg Temp Change': 70.746, 'Avg Co2 Change': 0.863},
 {'Country': 'Libya', 'Avg Temp Change': 71.222, 'Avg Co2 Change': 34.263},
 {'Country': 'Liechtenstein',
  'Avg Temp Change': 72.087,
  'Avg Co2 Change': 0.101},
 {'Country': 'Lithuania', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 20.353},
 {'Country': 'Luxembourg', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 10.839},
 {'Country': 'Macao', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 0.972},
 {'Country': 'Madagascar', 'Avg Temp Change': 73.425, 'Avg Co2 Change': 1.523},
 {'Country': 'Malawi', 'Avg Temp Change': 74.071, 'Avg Co2 Change': 0.763},
 {'Country': 'Malaysia', 'Avg Temp Change': 74.621, 'Avg Co2 Change': 95.099},
 {'Country': 'Maldives', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 0.386},
 {'Country': 'Mali', 'Avg Temp Change': 75.913, 'Avg Co2 Change': 0.896},
 {'Country': 'Malta', 'Avg Temp Change': 76.468, 'Avg Co2 Change': 1.687},
 {'Country': 'Marshall Islands',
  'Avg Temp Change': 0.0,
  'Avg Co2 Change': 0.056},
 {'Country': 'Mauritania', 'Avg Temp Change': 78.348, 'Avg Co2 Change': 1.241},
 {'Country': 'Mauritius', 'Avg Temp Change': 78.514, 'Avg Co2 Change': 1.871},
 {'Country': 'Mexico', 'Avg Temp Change': 79.662, 'Avg Co2 Change': 306.124},
 {'Country': 'Micronesia',
  'Avg Temp Change': 155.471,
  'Avg Co2 Change': 0.061},
 {'Country': 'Moldova', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 14.626},
 {'Country': 'Mongolia', 'Avg Temp Change': 82.406, 'Avg Co2 Change': 11.613},
 {'Country': 'Montenegro', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 1.58},
 {'Country': 'Montserrat', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 0.027},
 {'Country': 'Morocco', 'Avg Temp Change': 84.055, 'Avg Co2 Change': 28.28},
 {'Country': 'Mozambique', 'Avg Temp Change': 84.157, 'Avg Co2 Change': 2.665},
 {'Country': 'Myanmar', 'Avg Temp Change': 84.779, 'Avg Co2 Change': 8.362},
 {'Country': 'Namibia', 'Avg Temp Change': 85.418, 'Avg Co2 Change': 1.226},
 {'Country': 'Nauru', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 0.081},
 {'Country': 'Nepal', 'Avg Temp Change': 86.303, 'Avg Co2 Change': 2.414},
 {'Country': 'Netherlands',
  'Avg Temp Change': 87.324,
  'Avg Co2 Change': 154.751},
 {'Country': 'New Caledonia',
  'Avg Temp Change': 88.111,
  'Avg Co2 Change': 2.432},
 {'Country': 'New Zealand',
  'Avg Temp Change': 88.629,
  'Avg Co2 Change': 25.392},
 {'Country': 'Nicaragua', 'Avg Temp Change': 89.36, 'Avg Co2 Change': 2.838},
 {'Country': 'Niger', 'Avg Temp Change': 90.037, 'Avg Co2 Change': 0.767},
 {'Country': 'Nigeria', 'Avg Temp Change': 90.609, 'Avg Co2 Change': 63.804},
 {'Country': 'Niue', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 0.005},
 {'Country': 'North America',
  'Avg Temp Change': 0.0,
  'Avg Co2 Change': 5799.356},
 {'Country': 'North America (excl. USA)',
  'Avg Temp Change': 0.0,
  'Avg Co2 Change': 865.102},
 {'Country': 'North Korea', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 81.273},
 {'Country': 'North Macedonia',
  'Avg Temp Change': 0.0,
  'Avg Co2 Change': 9.695},
 {'Country': 'Norway', 'Avg Temp Change': 92.918, 'Avg Co2 Change': 35.109},
 {'Country': 'Oceania', 'Avg Temp Change': 153.948, 'Avg Co2 Change': 306.085},
 {'Country': 'Oman', 'Avg Temp Change': 93.163, 'Avg Co2 Change': 20.477},
 {'Country': 'Pakistan', 'Avg Temp Change': 94.229, 'Avg Co2 Change': 82.221},
 {'Country': 'Palestine', 'Avg Temp Change': 95.427, 'Avg Co2 Change': 0.968},
 {'Country': 'Panama', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 4.959},
 {'Country': 'Panama Canal Zone',
  'Avg Temp Change': 0.0,
  'Avg Co2 Change': 0.218},
 {'Country': 'Papua New Guinea',
  'Avg Temp Change': 96.614,
  'Avg Co2 Change': 2.756},
 {'Country': 'Paraguay', 'Avg Temp Change': 97.277, 'Avg Co2 Change': 2.841},
 {'Country': 'Peru', 'Avg Temp Change': 97.904, 'Avg Co2 Change': 27.707},
 {'Country': 'Philippines',
  'Avg Temp Change': 98.407,
  'Avg Co2 Change': 53.954},
 {'Country': 'Poland', 'Avg Temp Change': 99.783, 'Avg Co2 Change': 345.64},
 {'Country': 'Portugal', 'Avg Temp Change': 100.297, 'Avg Co2 Change': 38.874},
 {'Country': 'Puerto Rico', 'Avg Temp Change': 100.574, 'Avg Co2 Change': 0.0},
 {'Country': 'Qatar', 'Avg Temp Change': 101.433, 'Avg Co2 Change': 34.501},
 {'Country': 'Romania', 'Avg Temp Change': 103.589, 'Avg Co2 Change': 125.25},
 {'Country': 'Russia', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 1704.511},
 {'Country': 'Rwanda', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 0.461},
 {'Country': 'Ryukyu Islands',
  'Avg Temp Change': 0.0,
  'Avg Co2 Change': 0.324},
 {'Country': 'Saint Helena', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 0.006},
 {'Country': 'Saint Kitts and Nevis',
  'Avg Temp Change': 0.0,
  'Avg Co2 Change': 0.104},
 {'Country': 'Saint Lucia',
  'Avg Temp Change': 106.238,
  'Avg Co2 Change': 0.199},
 {'Country': 'Saint Pierre and Miquelon',
  'Avg Temp Change': 106.655,
  'Avg Co2 Change': 0.057},
 {'Country': 'Saint Vincent and the Grenadines',
  'Avg Temp Change': 107.412,
  'Avg Co2 Change': 0.115},
 {'Country': 'Samoa', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 0.118},
 {'Country': 'Sao Tome and Principe',
  'Avg Temp Change': 0.0,
  'Avg Co2 Change': 0.054},
 {'Country': 'Saudi Arabia',
  'Avg Temp Change': 109.798,
  'Avg Co2 Change': 250.238},
 {'Country': 'Senegal', 'Avg Temp Change': 110.627, 'Avg Co2 Change': 3.838},
 {'Country': 'Serbia', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 42.621},
 {'Country': 'Seychelles', 'Avg Temp Change': 111.999, 'Avg Co2 Change': 0.27},
 {'Country': 'Sierra Leone', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 0.57},
 {'Country': 'Singapore', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 35.488},
 {'Country': 'Sint Maarten (Dutch part)',
  'Avg Temp Change': 0.0,
  'Avg Co2 Change': 0.819},
 {'Country': 'Slovakia', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 46.326},
 {'Country': 'Slovenia', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 13.124},
 {'Country': 'Solomon Islands',
  'Avg Temp Change': 0.0,
  'Avg Co2 Change': 0.171},
 {'Country': 'Somalia', 'Avg Temp Change': 115.605, 'Avg Co2 Change': 0.536},
 {'Country': 'South Africa',
  'Avg Temp Change': 116.013,
  'Avg Co2 Change': 311.865},
 {'Country': 'South America',
  'Avg Temp Change': 147.178,
  'Avg Co2 Change': 649.369},
 {'Country': 'South Korea', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 287.905},
 {'Country': 'South Sudan', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 0.623},
 {'Country': 'Spain', 'Avg Temp Change': 117.872, 'Avg Co2 Change': 220.983},
 {'Country': 'Sri Lanka', 'Avg Temp Change': 118.317, 'Avg Co2 Change': 7.839},
 {'Country': 'St. Kitts-Nevis-Anguilla',
  'Avg Temp Change': 0.0,
  'Avg Co2 Change': 0.01},
 {'Country': 'Sudan', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 7.113},
 {'Country': 'Suriname', 'Avg Temp Change': 120.075, 'Avg Co2 Change': 1.86},
 {'Country': 'Sweden', 'Avg Temp Change': 121.331, 'Avg Co2 Change': 61.395},
 {'Country': 'Switzerland',
  'Avg Temp Change': 121.935,
  'Avg Co2 Change': 40.187},
 {'Country': 'Syria', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 30.556},
 {'Country': 'Taiwan', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 140.383},
 {'Country': 'Tajikistan', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 5.996},
 {'Country': 'Tanzania', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 3.807},
 {'Country': 'Thailand',
  'Avg Temp Change': 123.328,
  'Avg Co2 Change': 120.787},
 {'Country': 'Timor', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 0.098},
 {'Country': 'Togo', 'Avg Temp Change': 124.592, 'Avg Co2 Change': 1.168},
 {'Country': 'Tonga', 'Avg Temp Change': 125.674, 'Avg Co2 Change': 0.071},
 {'Country': 'Trinidad and Tobago',
  'Avg Temp Change': 0.0,
  'Avg Co2 Change': 22.174},
 {'Country': 'Tunisia', 'Avg Temp Change': 127.114, 'Avg Co2 Change': 14.543},
 {'Country': 'Turkey', 'Avg Temp Change': 127.29, 'Avg Co2 Change': 171.655},
 {'Country': 'Turkmenistan', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 41.382},
 {'Country': 'Turks and Caicos Islands',
  'Avg Temp Change': 0.0,
  'Avg Co2 Change': 0.063},
 {'Country': 'Tuvalu', 'Avg Temp Change': 128.906, 'Avg Co2 Change': 0.005},
 {'Country': 'Uganda', 'Avg Temp Change': 129.632, 'Avg Co2 Change': 1.653},
 {'Country': 'Ukraine', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 432.732},
 {'Country': 'United Arab Emirates',
  'Avg Temp Change': 130.625,
  'Avg Co2 Change': 79.129},
 {'Country': 'United Kingdom',
  'Avg Temp Change': 131.272,
  'Avg Co2 Change': 561.033},
 {'Country': 'United States',
  'Avg Temp Change': 0.0,
  'Avg Co2 Change': 4934.254},
 {'Country': 'Uruguay', 'Avg Temp Change': 133.469, 'Avg Co2 Change': 5.468},
 {'Country': 'Uzbekistan', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 100.678},
 {'Country': 'Vanuatu', 'Avg Temp Change': 135.239, 'Avg Co2 Change': 0.077},
 {'Country': 'Venezuela', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 116.086},
 {'Country': 'Vietnam', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 58.635},
 {'Country': 'Wallis and Futuna Islands',
  'Avg Temp Change': 137.494,
  'Avg Co2 Change': 0.008},
 {'Country': 'World', 'Avg Temp Change': 141.015, 'Avg Co2 Change': 22816.567},
 {'Country': 'Yemen', 'Avg Temp Change': 0.0, 'Avg Co2 Change': 10.082},
 {'Country': 'Zambia', 'Avg Temp Change': 139.811, 'Avg Co2 Change': 3.289},
 {'Country': 'Zimbabwe', 'Avg Temp Change': 140.213, 'Avg Co2 Change': 10.514}]

In [ ]:
def get_mean_and_year(df):
    months_country_group_df = month_df.groupby(['Area','Months'],sort=False).mean()

    #Rename and drop field1
    months_country_mean= months_country_group_df.drop('field1', 1)
    
    #get years
    year = months_country_mean.columns
    
    return months_country_mean, year

In [ ]:
country_list = months_country_mean.index
countries = [item[0] for item in country_list]
unique_countries = []
for item in countries:
    if(item not in unique_countries):
        unique_countries.append(item)
unique_countries

In [ ]:
months_country_mean, year = get_mean_and_year(month_df) 

months_list = []
avg_temp_list =[]
unit = 'Months'
for country in unique_countries:
    avg_temp_list.clear()
    country_df = months_country_mean.loc[country,:]
    #print(country_df)
    # Get months for each country
    month_index = country_df.index
    
    months_obj ={
    'Country': country,       
            }
    if len(month_index) > 4:
        months_obj['Year'] =year
        for item in month_index:
            months_obj[item] = country_df.loc[item].values,

        #print(country_df.loc[item].values)
        months_obj["Data Found"] = 'Yes'    
        
    else:
        months_obj["Data Found"] = 'No' 
        #print(f'...............\n Country: {country}\n')
        #print(country_df)
        #print(months_obj)
    
    months_list.append(months_obj)
        
        
       
        
months_list