In [1]:
# dependencies
import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, join, outerjoin, MetaData, Table

In [2]:
# create engine to hawaii.sqlite
connect_string = "sqlite:///static/data/climateDB.db"

# reflect the tables
engine = create_engine(connect_string) 

# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect =True)

In [3]:
Base.classes.keys()

['CO2_emission', 'country_demo', 'temp_change']

In [14]:
# Save references to each table
Emission = Base.classes.CO2_emission
Temp_change = Base.classes.temp_change
Country_demo = Base.classes.country_demo

In [5]:
# Create a session (link) from Python to the sqlite DB
session = Session(bind = engine)

#Filter the data for the year >= 1961
results_emission = session.query(Emission).filter(Emission.Year >= 1961)
#print(results)

In [19]:
emission_df = pd.read_sql(results_emission.statement, session.connection())
results_temp = session.query(Temp_change)
temp_df = pd.read_sql(results_temp.statement, session.connection())

results_Demo = session.query(Country_demo)
demo_df = pd.read_sql(results_Demo.statement, session.connection(),index_col='index')

# filter Meteorological year
meteor_df = temp_df.loc[temp_df["Months"] == 'Meteorological year' ]

In [8]:

country='Uruguay'

#Get Average Temp Change per year for the selected Country
temp_country = meteor_df.loc[meteor_df['Area'] == country].drop(['field1','Area','Months', 'Element', 'Unit'], 1).reset_index(drop=True).T.reset_index()
temp_country= temp_country.rename(columns = {'index':'Year', 0:'Avg Temp'})

#check for dtypes before merging
temp_country.dtypes
temp_country

    Year  Avg Temp
0   1961     0.380
1   1962    -0.484
2   1963     0.309
3   1964    -0.785
4   1965     0.153
5   1966    -0.445
6   1967     0.012
7   1968     0.403
8   1969     0.162
9   1970     0.408
10  1971    -0.303
11  1972     0.280
12  1973    -0.096
13  1974    -0.029
14  1975     0.037
15  1976    -0.333
16  1977     0.499
17  1978     0.113
18  1979     0.132
19  1980     0.565
20  1981     0.520
21  1982     0.586
22  1983    -0.040
23  1984     0.113
24  1985     0.433
25  1986     0.756
26  1987     0.322
27  1988    -0.514
28  1989     0.731
29  1990     0.564
30  1991     0.293
31  1992     0.129
32  1993     0.254
33  1994     0.421
34  1995     0.280
35  1996     0.450
36  1997     1.082
37  1998     0.082
38  1999     0.018
39  2000     0.296
40  2001     1.209
41  2002     0.573
42  2003     0.274
43  2004     0.425
44  2005     0.752
45  2006     0.539
46  2007     0.094
47  2008     0.705
48  2009     0.486
49  2010     0.241
50  2011     0.417
51  2012     0.814
52  2013     0.106
53  2014     1.129
54  2015     1.010
55  2016     0.266
56  2017     1.490
57  2018     1.132
58  2019     0.720

In [9]:
#parse df object to datetime object
from datetime import datetime
temp_country['Year'] = pd.to_datetime(temp_country['Year'],format="%Y")
temp_country['Year'] = pd.DatetimeIndex(temp_country['Year']).year
temp_country.dtypes
temp_country

    Year  Avg Temp
0   1961     0.380
1   1962    -0.484
2   1963     0.309
3   1964    -0.785
4   1965     0.153
5   1966    -0.445
6   1967     0.012
7   1968     0.403
8   1969     0.162
9   1970     0.408
10  1971    -0.303
11  1972     0.280
12  1973    -0.096
13  1974    -0.029
14  1975     0.037
15  1976    -0.333
16  1977     0.499
17  1978     0.113
18  1979     0.132
19  1980     0.565
20  1981     0.520
21  1982     0.586
22  1983    -0.040
23  1984     0.113
24  1985     0.433
25  1986     0.756
26  1987     0.322
27  1988    -0.514
28  1989     0.731
29  1990     0.564
30  1991     0.293
31  1992     0.129
32  1993     0.254
33  1994     0.421
34  1995     0.280
35  1996     0.450
36  1997     1.082
37  1998     0.082
38  1999     0.018
39  2000     0.296
40  2001     1.209
41  2002     0.573
42  2003     0.274
43  2004     0.425
44  2005     0.752
45  2006     0.539
46  2007     0.094
47  2008     0.705
48  2009     0.486
49  2010     0.241
50  2011     0.417
51  2012     0.814
52  2013     0.106
53  2014     1.129
54  2015     1.010
55  2016     0.266
56  2017     1.490
57  2018     1.132
58  2019     0.720

In [10]:
co2_country = emission_df.loc[emission_df['Entity']==country].drop(['Entity', 'Code'], 1).reset_index(drop =True)
co2_country= co2_country.rename(columns = {'Year':'Year', 'AnnualCO2emissions':'CO2 Emission'})

co2_country.dtypes
co2_country

    Year  CO2 Emission
0   1961       4116761
1   1962       4006902
2   1963       4314824
3   1964       4552718
4   1965       5516290
5   1966       5398834
6   1967       4878754
7   1968       4878368
8   1969       5589393
9   1970       5735803
10  1971       5801934
11  1972       6069376
12  1973       5768719
13  1974       5677001
14  1975       5962407
15  1976       5887086
16  1977       5639634
17  1978       5729321
18  1979       6262352
19  1980       5818505
20  1981       5355957
21  1982       4853822
22  1983       3803538
23  1984       3438156
24  1985       3283824
25  1986       3164926
26  1987       3542533
27  1988       4785973
28  1989       4852638
29  1990       3967070
30  1991       4527484
31  1992       5142877
32  1993       4439208
33  1994       4029884
34  1995       4558503
35  1996       5404412
36  1997       5513163
37  1998       5640086
38  1999       6681003
39  2000       5267125
40  2001       5030614
41  2002       4557734
42  2003       4527868
43  2004       5563796
44  2005       5725821
45  2006       6596087
46  2007       5946511
47  2008       8200664
48  2009       7947334
49  2010       6296711
50  2011       7653820
51  2012       8593089
52  2013       7493508
53  2014       6656284
54  2015       6655206
55  2016       6525291
56  2017       6173543
57  2018       6251839
58  2019       6378115

In [11]:
#Merge Temp_change Co2 Emission df
merged_Temp_co2 =temp_country.merge(co2_country, on="Year", left_index=False, right_index=False,)
merged_Temp_co2

#convert Co2 Emission to Mega Ton
merged_Temp_co2['CO2 Emission'] = round(merged_Temp_co2['CO2 Emission'].apply(lambda x: x/1000000),3)
merged_Temp_co2

    Year  Avg Temp  CO2 Emission
0   1961     0.380         4.117
1   1962    -0.484         4.007
2   1963     0.309         4.315
3   1964    -0.785         4.553
4   1965     0.153         5.516
5   1966    -0.445         5.399
6   1967     0.012         4.879
7   1968     0.403         4.878
8   1969     0.162         5.589
9   1970     0.408         5.736
10  1971    -0.303         5.802
11  1972     0.280         6.069
12  1973    -0.096         5.769
13  1974    -0.029         5.677
14  1975     0.037         5.962
15  1976    -0.333         5.887
16  1977     0.499         5.640
17  1978     0.113         5.729
18  1979     0.132         6.262
19  1980     0.565         5.819
20  1981     0.520         5.356
21  1982     0.586         4.854
22  1983    -0.040         3.804
23  1984     0.113         3.438
24  1985     0.433         3.284
25  1986     0.756         3.165
26  1987     0.322         3.543
27  1988    -0.514         4.786
28  1989     0.731         4.853
29  1990     0.564         3.967
30  1991     0.293         4.527
31  1992     0.129         5.143
32  1993     0.254         4.439
33  1994     0.421         4.030
34  1995     0.280         4.559
35  1996     0.450         5.404
36  1997     1.082         5.513
37  1998     0.082         5.640
38  1999     0.018         6.681
39  2000     0.296         5.267
40  2001     1.209         5.031
41  2002     0.573         4.558
42  2003     0.274         4.528
43  2004     0.425         5.564
44  2005     0.752         5.726
45  2006     0.539         6.596
46  2007     0.094         5.947
47  2008     0.705         8.201
48  2009     0.486         7.947
49  2010     0.241         6.297
50  2011     0.417         7.654
51  2012     0.814         8.593
52  2013     0.106         7.494
53  2014     1.129         6.656
54  2015     1.010         6.655
55  2016     0.266         6.525
56  2017     1.490         6.174
57  2018     1.132         6.252
58  2019     0.720         6.378

In [12]:
Scatter_obj = {
                "Country":country,
                "Year":list(np.ravel(merged_Temp_co2['Year'])),
                "Avg Temp Change":list(np.ravel(merged_Temp_co2['Avg Temp'])), 
                "Co2 Emission":list(np.ravel(merged_Temp_co2['CO2 Emission']))
            }

Scatter_obj

{'Country': 'Uruguay',
 'Year': [1961,
  1962,
  1963,
  1964,
  1965,
  1966,
  1967,
  1968,
  1969,
  1970,
  1971,
  1972,
  1973,
  1974,
  1975,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018,
  2019],
 'Avg Temp Change': [0.38,
  -0.484,
  0.309,
  -0.785,
  0.153,
  -0.445,
  0.012,
  0.403,
  0.162,
  0.408,
  -0.303,
  0.28,
  -0.096,
  -0.029,
  0.037,
  -0.333,
  0.499,
  0.113,
  0.132,
  0.565,
  0.52,
  0.586,
  -0.04,
  0.113,
  0.433,
  0.756,
  0.322,
  -0.514,
  0.731,
  0.564,
  0.293,
  0.129,
  0.254,
  0.421,
  0.28,
  0.45,
  1.082,
  0.082,
  0.018,
  0.296,
  1.209,
  0.573,
  0.274,
  0.425,
  0.752,
  0.539,
  0.094,
  0.705,
  0.486,
  0.241,
  0.417,
  0.814,
  0.106,
  1.129,
  1.01,
  0.266,
  1.49,
  1.132,
  0.72],
 'Co2 Emission': [4.117,
  4.007,
  4.315,
  4.553,
  5.516,
  5.399,
  4.879,
  4.878,
  5.589,
  5.736,
  5.802,
  6.069,
  5.769,
  5.677,
  5.962,
  5.887,
  5.64,
  5.729,
  6.262,
  5.819,
  5.356,
  4.854,
  3.804,
  3.438,
  3.284,
  3.165,
  3.543,
  4.786,
  4.853,
  3.967,
  4.527,
  5.143,
  4.439,
  4.03,
  4.559,
  5.404,
  5.513,
  5.64,
  6.681,
  5.267,
  5.031,
  4.558,
  4.528,
  5.564,
  5.726,
  6.596,
  5.947,
  8.201,
  7.947,
  6.297,
  7.654,
  8.593,
  7.494,
  6.656,
  6.655,
  6.525,
  6.174,
  6.252,
  6.378]}

In [13]:
#Get Average Temp Change per year for the selected Country , Transpose table and reset index
country = 'United States of America'
temp_country = meteor_df.loc[meteor_df['Area'] == country].drop(['field1','Area','Months', 'Element', 'Unit'], 1).reset_index(drop=True).T.reset_index()
temp_country= temp_country.rename(columns = {'index':'Year', 0:'Avg Temp'})
#check for dtypes before merging
temp_country.dtypes
#parse df object to datetime object and get only Years
temp_country['Year'] = pd.to_datetime(temp_country['Year'],format="%Y")
temp_country['Year'] = pd.DatetimeIndex(temp_country['Year']).year
#get Co2 Emission Data , drop unwated fields and reset index
co2_country = emission_df.loc[emission_df['Entity']==country].drop(['Entity', 'Code'], 1).reset_index(drop =True)
co2_country= co2_country.rename(columns = {'Year':'Year', 'AnnualCO2emissions':'CO2 Emission'})
#check for data types before merging
co2_country.dtypes
#Merge Temp_change Co2 Emission df
merged_Temp_co2 =temp_country.merge(co2_country, on="Year", left_index=False, right_index=False)
#convert Co2 Emission to Mega Ton
merged_Temp_co2['CO2 Emission'] = round(merged_Temp_co2['CO2 Emission'].apply(lambda x: x/1000000),3)
# Get data in a object
Scatter_obj1 = {
            "Country":country,
            "Year":list(np.ravel(merged_Temp_co2['Year'])),
            "Avg Temp Change":list(np.ravel(merged_Temp_co2['Avg Temp'])), 
            "Co2 Emission":list(np.ravel(merged_Temp_co2['CO2 Emission']))
        }
Scatter_obj1

{'Country': 'United States of America',
 'Year': [1961,
  1962,
  1963,
  1964,
  1965,
  1966,
  1967,
  1968,
  1969,
  1970,
  1971,
  1972,
  1973,
  1974,
  1975,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018,
  2019],
 'Avg Temp Change': [0.0,
  -0.023,
  0.418,
  -0.285,
  -0.358,
  -0.213,
  0.073,
  -0.082,
  -0.274,
  -0.031,
  -0.416,
  -0.249,
  -0.018,
  0.08,
  -0.387,
  -0.124,
  0.4,
  0.046,
  -0.297,
  0.413,
  0.867,
  -0.337,
  0.537,
  -0.226,
  -0.02,
  0.584,
  0.91,
  0.469,
  0.325,
  0.672,
  0.525,
  0.395,
  0.005,
  0.461,
  0.626,
  -0.011,
  0.385,
  1.261,
  0.747,
  0.991,
  0.776,
  0.946,
  0.986,
  0.855,
  1.143,
  1.013,
  1.134,
  0.203,
  0.386,
  0.679,
  0.53,
  1.437,
  0.597,
  0.463,
  1.508,
  2.197,
  1.408,
  1.244,
  1.011],
 'Co2 Emission': [2877.37,
  2984.002,
  3116.022,
  3252.755,
  3388.193,
  3559.179,
  3693.298,
  3828.306,
  4021.503,
  4325.501,
  4351.309,
  4558.453,
  4762.452,
  4592.958,
  4400.795,
  4607.168,
  4735.366,
  4882.964,
  4894.043,
  4716.716,
  4530.37,
  4301.971,
  4335.917,
  4468.262,
  4484.338,
  4487.856,
  4680.834,
  4885.591,
  4948.021,
  5128.301,
  5078.89,
  5182.707,
  5283.438,
  5377.033,
  5438.906,
  5626.912,
  5703.707,
  5751.052,
  5830.298,
  5998.07,
  5900.437,
  5942.652,
  5991.96,
  6107.618,
  6131.893,
  6051.051,
  6128.43,
  5930.54,
  5491.036,
  5698.056,
  5565.294,
  5367.569,
  5514.029,
  5561.719,
  5412.432,
  5292.268,
  5253.606,
  5424.882,
  5284.697]}