In [1]:
# dependencies
import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, join, outerjoin, MetaData, Table

In [2]:
# create engine to hawaii.sqlite
connect_string = "sqlite:///static/data/climateDB.db"

# reflect the tables
engine = create_engine(connect_string) 

# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect =True)

In [3]:
Base.classes.keys()

['CO2_emission', 'country_demo', 'temp_change']

In [4]:
# Save references to each table
Emission = Base.classes.CO2_emission
Temp_change = Base.classes.temp_change
Country_demo = Base.classes.country_demo

In [5]:
# Create a session (link) from Python to the sqlite DB
session = Session(bind = engine)

#Filter the data for the year >= 1961
results_emission = session.query(Emission).filter(Emission.Year >= 1961)
#print(results)

In [6]:
emission_df = pd.read_sql(results_emission.statement, session.connection())
results_temp = session.query(Temp_change)
temp_df = pd.read_sql(results_temp.statement, session.connection())

results_Demo = session.query(Country_demo)
demo_df = pd.read_sql(results_Demo.statement, session.connection(),index_col='index')

# filter Meteorological year
meteor_df = temp_df.loc[temp_df["Months"] == 'Meteorological year' ]

In [7]:

country='China, Hong Kong SAR'

#Get Average Temp Change per year for the selected Country
temp_country = meteor_df.loc[meteor_df['Area'] == country].drop(['field1','Area','Months', 'Element', 'Unit'], 1).reset_index(drop=True).T.reset_index()
temp_country= temp_country.rename(columns = {'index':'Year', 0:'Avg Temp'})

#check for dtypes before merging
temp_country.dtypes
temp_country

    Year  Avg Temp
0   1961     0.047
1   1962    -0.090
2   1963     0.289
3   1964     0.079
4   1965     0.115
5   1966     0.616
6   1967     0.032
7   1968    -0.662
8   1969    -0.017
9   1970    -0.414
10  1971    -0.203
11  1972    -0.157
12  1973     0.420
13  1974    -0.345
14  1975     0.156
15  1976    -0.776
16  1977     0.155
17  1978    -0.002
18  1979     0.009
19  1980     0.221
20  1981     0.344
21  1982     0.028
22  1983    -0.223
23  1984    -0.560
24  1985    -0.327
25  1986    -0.023
26  1987     0.794
27  1988    -0.177
28  1989     0.221
29  1990     0.292
30  1991     0.735
31  1992    -0.225
32  1993     0.307
33  1994     0.348
34  1995    -0.021
35  1996     0.029
36  1997     0.288
37  1998     0.952
38  1999     0.972
39  2000     0.302
40  2001     0.846
41  2002     0.943
42  2003     0.945
43  2004     0.705
44  2005     0.773
45  2006     0.949
46  2007     1.061
47  2008     0.463
48  2009     1.000
49  2010     0.477
50  2011     0.434
51  2012     0.623
52  2013     0.862
53  2014     0.761
54  2015     1.243
55  2016     0.837
56  2017     1.403
57  2018     1.229
58  2019     1.831

In [8]:
#parse df object to datetime object
from datetime import datetime
temp_country['Year'] = pd.to_datetime(temp_country['Year'],format="%Y")
temp_country['Year'] = pd.DatetimeIndex(temp_country['Year']).year
temp_country.dtypes
temp_country

    Year  Avg Temp
0   1961     0.047
1   1962    -0.090
2   1963     0.289
3   1964     0.079
4   1965     0.115
5   1966     0.616
6   1967     0.032
7   1968    -0.662
8   1969    -0.017
9   1970    -0.414
10  1971    -0.203
11  1972    -0.157
12  1973     0.420
13  1974    -0.345
14  1975     0.156
15  1976    -0.776
16  1977     0.155
17  1978    -0.002
18  1979     0.009
19  1980     0.221
20  1981     0.344
21  1982     0.028
22  1983    -0.223
23  1984    -0.560
24  1985    -0.327
25  1986    -0.023
26  1987     0.794
27  1988    -0.177
28  1989     0.221
29  1990     0.292
30  1991     0.735
31  1992    -0.225
32  1993     0.307
33  1994     0.348
34  1995    -0.021
35  1996     0.029
36  1997     0.288
37  1998     0.952
38  1999     0.972
39  2000     0.302
40  2001     0.846
41  2002     0.943
42  2003     0.945
43  2004     0.705
44  2005     0.773
45  2006     0.949
46  2007     1.061
47  2008     0.463
48  2009     1.000
49  2010     0.477
50  2011     0.434
51  2012     0.623
52  2013     0.862
53  2014     0.761
54  2015     1.243
55  2016     0.837
56  2017     1.403
57  2018     1.229
58  2019     1.831

In [9]:
co2_country = emission_df.loc[emission_df['Entity']==country].drop(['Entity', 'Code'], 1).reset_index(drop =True)
co2_country= co2_country.rename(columns = {'Year':'Year', 'AnnualCO2emissions':'CO2 Emission'})

co2_country.dtypes
co2_country

Empty DataFrame
Columns: [Year, CO2 Emission]
Index: []

In [10]:
#Merge Temp_change Co2 Emission df
merged_Temp_co2 =temp_country.merge(co2_country, on="Year", left_index=False, right_index=False,)
merged_Temp_co2

#convert Co2 Emission to Mega Ton
merged_Temp_co2['CO2 Emission'] = round(merged_Temp_co2['CO2 Emission'].apply(lambda x: x/1000000),3)
merged_Temp_co2

Empty DataFrame
Columns: [Year, Avg Temp, CO2 Emission]
Index: []

In [11]:
Scatter_obj = {
                "Country":country,
                "Year":list(np.ravel(merged_Temp_co2['Year'])),
                "Avg Temp Change":list(np.ravel(merged_Temp_co2['Avg Temp'])), 
                "Co2 Emission":list(np.ravel(merged_Temp_co2['CO2 Emission']))
            }

Scatter_obj

{'Country': 'China, Hong Kong SAR',
 'Year': [],
 'Avg Temp Change': [],
 'Co2 Emission': []}

In [12]:
#Get Average Temp Change per year for the selected Country , Transpose table and reset index
country = 'United States of America'
temp_country = meteor_df.loc[meteor_df['Area'] == country].drop(['field1','Area','Months', 'Element', 'Unit'], 1).reset_index(drop=True).T.reset_index()
temp_country= temp_country.rename(columns = {'index':'Year', 0:'Avg Temp'})
#check for dtypes before merging
temp_country.dtypes
#parse df object to datetime object and get only Years
temp_country['Year'] = pd.to_datetime(temp_country['Year'],format="%Y")
temp_country['Year'] = pd.DatetimeIndex(temp_country['Year']).year
#get Co2 Emission Data , drop unwated fields and reset index
co2_country = emission_df.loc[emission_df['Entity']==country].drop(['Entity', 'Code'], 1).reset_index(drop =True)
co2_country= co2_country.rename(columns = {'Year':'Year', 'AnnualCO2emissions':'CO2 Emission'})
#check for data types before merging
co2_country.dtypes
#Merge Temp_change Co2 Emission df
merged_Temp_co2 =temp_country.merge(co2_country, on="Year", left_index=False, right_index=False)
#convert Co2 Emission to Mega Ton
merged_Temp_co2['CO2 Emission'] = round(merged_Temp_co2['CO2 Emission'].apply(lambda x: x/1000000),3)
# Get data in a object
Scatter_obj1 = {
            "Country":country,
            "Year":list(np.ravel(merged_Temp_co2['Year'])),
            "Avg Temp Change":list(np.ravel(merged_Temp_co2['Avg Temp'])), 
            "Co2 Emission":list(np.ravel(merged_Temp_co2['CO2 Emission']))
        }
Scatter_obj1

{'Country': 'United States of America',
 'Year': [1961,
  1962,
  1963,
  1964,
  1965,
  1966,
  1967,
  1968,
  1969,
  1970,
  1971,
  1972,
  1973,
  1974,
  1975,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018,
  2019],
 'Avg Temp Change': [0.0,
  -0.023,
  0.418,
  -0.285,
  -0.358,
  -0.213,
  0.073,
  -0.082,
  -0.274,
  -0.031,
  -0.416,
  -0.249,
  -0.018,
  0.08,
  -0.387,
  -0.124,
  0.4,
  0.046,
  -0.297,
  0.413,
  0.867,
  -0.337,
  0.537,
  -0.226,
  -0.02,
  0.584,
  0.91,
  0.469,
  0.325,
  0.672,
  0.525,
  0.395,
  0.005,
  0.461,
  0.626,
  -0.011,
  0.385,
  1.261,
  0.747,
  0.991,
  0.776,
  0.946,
  0.986,
  0.855,
  1.143,
  1.013,
  1.134,
  0.203,
  0.386,
  0.679,
  0.53,
  1.437,
  0.597,
  0.463,
  1.508,
  2.197,
  1.408,
  1.244,
  1.011],
 'Co2 Emission': [2877.37,
  2984.002,
  3116.022,
  3252.755,
  3388.193,
  3559.179,
  3693.298,
  3828.306,
  4021.503,
  4325.501,
  4351.309,
  4558.453,
  4762.452,
  4592.958,
  4400.795,
  4607.168,
  4735.366,
  4882.964,
  4894.043,
  4716.716,
  4530.37,
  4301.971,
  4335.917,
  4468.262,
  4484.338,
  4487.856,
  4680.834,
  4885.591,
  4948.021,
  5128.301,
  5078.89,
  5182.707,
  5283.438,
  5377.033,
  5438.906,
  5626.912,
  5703.707,
  5751.052,
  5830.298,
  5998.07,
  5900.437,
  5942.652,
  5991.96,
  6107.618,
  6131.893,
  6051.051,
  6128.43,
  5930.54,
  5491.036,
  5698.056,
  5565.294,
  5367.569,
  5514.029,
  5561.719,
  5412.432,
  5292.268,
  5253.606,
  5424.882,
  5284.697]}